
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Operacional</li>
    <li class="breadcrumb-item active">@Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.RestricaoVisualizacaoCanhotosCurto</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        @Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.RestricaoVisualizacaoCanhotosLongo
    </h1>
</div>

<div>
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content" id="knockoutPesquisaRestricaoVisualizacaoCanhotos">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.PesquisarOperadores
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: Nome.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Nome.text, attr: { for: Nome.id }"></label>
                                    <input type="text" class="form-control" data-bind="class: Nome.requiredClass, value: Nome.val, valueUpdate: 'afterkeydown', attr: { maxlength: Nome.maxlength, id : Nome.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none" id="wid-id-4">
        <div class="panel mt-3">
            <div class="panel-container">
                <div class="panel-content">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item" id="liRestricao" style="display:none">
                            <a href="#knockoutRestricao" class="nav-link active" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet"><i class="fal fa-link"></i> @Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.Restricao</span>
                            </a>
                        </li>

                        <li class="nav-item" id="liFiliais" style="display:none">
                            <a href="#knockoutFilial" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet"><i class="fal fa-building"></i> @Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.Filiais</span>
                            </a>
                        </li>

                        <li class="nav-item" id="liTipoOperacao" style="display:none">
                            <a href="#knockoutTipoOperacao" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet"><i class="fal fa-align-justify"></i> @Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.TipoOperacao</span>
                            </a>
                        </li>

                        <li class="nav-item" id="liTipoCarga" style="display:none">
                            <a href="#knockoutTipoCarga" class="nav-link" data-bs-toggle="tab">
                                <span class="hidden-mobile hidden-tablet"><i class="fal fa-cubes"></i> @Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.TipoCarga</span>
                            </a>
                        </li>
                    </ul>

                    <div id="myTabContent" class="tab-content border border-top-0 p-3">

                        <div class="tab-pane fade active show" id="knockoutRestricao" role="tabpanel">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: RestricaoAtiva.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: RestricaoAtiva.val, attr: { maxlength: RestricaoAtiva.maxlength, name: RestricaoAtiva.id, id: RestricaoAtiva.id }">
                                                <label class="custom-control-label" data-bind="text: RestricaoAtiva.text, attr: { for: RestricaoAtiva.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="knockoutFilial" role="tabpanel">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <button class="btn btn-primary mb-2" type="button" data-bind="click: Filial.eventClick, attr: { id: Filial.idBtnSearch}">
                                            <i class="fal fa-plus"></i><span data-bind="text: Filial.text"></span>
                                        </button>
                                    </div>
                                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="knockoutTipoOperacao" role="tabpanel">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: PossuiFiltroTipoOperacao.visible">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-bind="checked: PossuiFiltroTipoOperacao.val, attr: { maxlength: PossuiFiltroTipoOperacao.maxlength, name: PossuiFiltroTipoOperacao.id, id: PossuiFiltroTipoOperacao.id }">
                                                <label class="custom-control-label" data-bind="text: PossuiFiltroTipoOperacao.text, attr: { for: PossuiFiltroTipoOperacao.id }"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-bind="fadeVisible: PossuiFiltroTipoOperacao.val" class="row">
                                        <div class="col-12 col-md-4">
                                            <button class="btn btn-primary mb-2" type="button" data-bind="click: Operacao.eventClick, attr: { id: Operacao.idBtnSearch}">
                                                <i class="fal fa-plus"></i><span data-bind="text: Operacao.text"></span>
                                            </button>
                                        </div>
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>
                                        <div class="col-12 col-md-12" data-bind="visible: VisualizaCargasSemTipoOperacao.visible">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" data-bind="checked: VisualizaCargasSemTipoOperacao.val, attr: { maxlength: VisualizaCargasSemTipoOperacao.maxlength, name: VisualizaCargasSemTipoOperacao.id, id: VisualizaCargasSemTipoOperacao.id }">
                                                    <label class="custom-control-label" data-bind="text: VisualizaCargasSemTipoOperacao.text, attr: { for: VisualizaCargasSemTipoOperacao.id }"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="knockoutTipoCarga" role="tabpanel">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-12 col-md-12" data-bind="visible: TipoCarga.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: TipoCarga.text, attr: { for: TipoCarga.id }"></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-bind="css: TipoCarga.requiredClass, value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TipoCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                        <i class="fal fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary mb-2" type="button" data-bind="click: AdicionarTipoCarga.eventClick, attr: { id: AdicionarTipoCarga.idBtnSearch}">
                                            <i class="fal fa-plus"></i><span data-bind="text: AdicionarTipoCarga.text"></span>
                                        </button>
                                    </div>
                                    <div id="divTiposCargaParent" style="display:none">
                                        <div id="DivTiposDeCarga"></div>
                                    </div>
                                    <div class="col col-12 mt-4 mb-2" data-bind="attr: { id : Excluir.id}">
                                        <span> <i class="fal fa-trash"></i>@Localization.Resources.Operacional.RestricaoVisualizacaoCanhotos.ArrasteTipoCargaParaRemovela</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <footer id="knockoutRestricaoVisualizacaoCanhotos">
                        <div class="row mt-3">
                            <div class="col-6">
                                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                    <i class="fal fa-ban"></i>
                                    <span data-bind="text: Cancelar.text"></span>
                                </button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <i class="fal fa-check"></i>
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/restricaoVisualizacaoCanhotos"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Operacional.RestricaoVisualizacaoCanhotos").then(loadRestricaoVisualizacaoCanhotos);
    });

</script>

