

<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@Html.Raw(ViewBag.Titulo)</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="~/css/bootstrap" />
	<link rel="stylesheet" href="~/css/fontAwesome" />
	<link rel="stylesheet" href="~/css/plugins" />
	<link rel="stylesheet" href="~/css/production" />
	<link rel="stylesheet" href="~/css/skins" />
	<link rel="stylesheet" href="~/css/bootstrap-datetimepicker" />
	<link rel="stylesheet" href="~/css/bootstrapSelect" />
	<link rel="stylesheet" href="~/css/yourStyle" />

	<link rel="shortcut icon" href="@Html.Raw(ViewBag.Favicon)" type="image/x-icon">
	<link rel="icon" href="@Html.Raw(ViewBag.Favicon)" type="image/x-icon">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>

<body class="@Html.Raw(ViewBag.Layout)">
	<header id="header">
		<div id="logo-group">
			<span id="logo"> <img src="@Html.Raw(ViewBag.Logo)" alt="SmartAdmin"> </span>
		</div>
	</header>
	<div id="main" role="main" style="margin-left: 0;">
		<div id="content">
			<section id="widget-grid" class="">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h2 class="page-title txt-color-blueDark">
							Encerramento de MDF-e
						</h2>
					</div>
				</div>
				<div class="row">
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="knockoutEncerramentoTransportador">
							<div class="jarviswidget" data-widget-colorbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">
								<header>
									<h2>Encerramento de MDF-e</h2>
								</header>
								<div class="smart-form">
									<section>
										<div class="well">
											<fieldset>
												<div class="row padding-bottom-10">
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: Numero.text"></strong>&nbsp;<span data-bind="text: Numero.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: Veiculo.text"></strong>&nbsp;<span data-bind="text: Veiculo.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: Motorista.text"></strong>&nbsp;<span data-bind="text: Motorista.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: UFOrigem.text"></strong>&nbsp;<span data-bind="text: UFOrigem.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: UFDestino.text"></strong>&nbsp;<span data-bind="text: UFDestino.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: Data.text"></strong>&nbsp;<span data-bind="text: Data.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
														<strong data-bind="text: Chave.text"></strong>&nbsp;<span data-bind="text: Chave.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: Protocolo.text"></strong>&nbsp;<span data-bind="text: Protocolo.val"></span>
													</article>
													<article class="col col-xs-12 col-sm-12 col-md-3 col-lg-3">
														<strong data-bind="text: DescricaoStatus.text"></strong>&nbsp;<span data-bind="text: DescricaoStatus.val"></span>
													</article>
												</div>
											</fieldset>
											<footer class="no-padding">
												<button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="visible: AbrirTelaEncerramentoMDFe.visible, click: AbrirTelaEncerramentoMDFe.eventClick, attr: { id: AbrirTelaEncerramentoMDFe.id}" type="button">
													<i class="fa fa-chevron-down"></i>&nbsp;<span>Encerrar o MDF-e</span>
												</button>
												<button class="btn btn-default btn-primary btnPesquisarFiltroPesquisa" data-bind="visible: Atualizar.visible, click: Atualizar.eventClick, attr: { id: Atualizar.id}" type="button">
													<i class="fa fa-refresh"></i>&nbsp;<span>Atualizar os Dados</span>
												</button>
											</footer>
										</div>
									</section>
								</div>
							</div>
							<div class="modal fade no-padding" id="divModalEncerramentoMDFe" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"> &times;</button>
											<h4 class="modal-title">Encerrar o MDF-e</h4>
										</div>
										<div class="modal-body">
											<div>
												<div>
													<div class="smart-form">
														<fieldset>
															<div class="row">
																<section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
																	<img id="imgCaptchaEncerramento" />
																</section>
																<section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
																	<label class="label"><b data-bind="text: CaptchaInformado.text"></b></label>
																	<label data-bind="attr: { class: CaptchaInformado.requiredClass}">
																		<input type="text" data-bind="value: CaptchaInformado.val, attr: { maxlength: CaptchaInformado.maxlength, id : CaptchaInformado.id}" />
																	</label>
																</section>
															</div>
														</fieldset>
														<footer>
															<button type="button" data-bind="click: EncerrarMDFe.eventClick, visible: EncerrarMDFe.visible, attr: { id: EncerrarMDFe.id}" class="btn btn-labeled btn-success"><i class="fa fa-chevron-down"></i>&nbsp;<span>Encerrar o MDF-e</span></button>
														</footer>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>
		</div>
	</div>
	<div class="page-footer" style="padding-left: 10px;">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<span class="txt-color-white">Multisoftware Development Center</span>
			</div>
		</div>
	</div>

	<script src="~/scripts/jquery"></script>
	<script src="~/scripts/jqueryUI"></script>
	<script src="~/scripts/blockUI"></script>
	<script src="~/scripts/jqueryTouch"></script>
	<script src="~/scripts/fileDownload"></script>
	<script src="~/scripts/JarvisWidget"></script>
	<script src="~/scripts/appConfig"></script>
	<script src="~/scripts/myAppConfig"></script>
	<script src="~/scripts/bootstrap"></script>
	<script src="~/scripts/jqueryValidate"></script>
	<script src="~/scripts/maskedInput"></script>
	<script src="~/scripts/jqueryMbBrowser"></script>
	<script src="~/scripts/smartNotification"></script>
	<script src="~/scripts/fastClick"></script>
	<script src="~/scripts/maskMoney"></script>
	<script src="~/scripts/moment"></script>
	<script src="~/scripts/countdown"></script>
	<script src="~/scripts/promise"></script>
	<script src="~/scripts/datetimepicker"></script>
	<script src="~/scripts/globalize"></script>
	<script src="~/scripts/dataTables"></script>
	<script src="~/scripts/knockout"></script>
	<script src="~/scripts/global"></script>
	<script src="~/scripts/twbsPagination"></script>
	<script src="~/scripts/enumeradores"></script>
	<script src="~/scripts/bootstrapSelect"></script>
	<script src="~/scripts/encerramentoTransportador"></script>
	<script src="~/scripts/app"></script>
	<!--[if IE 8]>
		<h1>Seu não suporta o Multi Embarcador por favor atualize seu navegador para uma versão mais atual e tente novamente.</h1>
	<![endif]-->
	<script type="text/javascript">
		pageSetUp();

		$(document).ready(function () {
			loadEncerramentoTransportador();
		});
	</script>
</body>
</html>