
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Logística</li>
    <li class="breadcrumb-item active">Monitoramento Tecnologia</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        Monitoramento - Tecnologias Rastreadores
    </h1>
    <br></br>
    <div id="versao-monitoramento" class="text-muted">
        @Localization.Resources.MasterLayout.MasterLayout.Versao 
        <span data-bind="text: Versao.val"></span>
    </div>
</div>

<div class="panel " id="-monitoramento-container">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                Status atual das tecnologias de Rastreadores
            </h3>
        </div>
        <div class="panel-content" id="container-veiculo-monitoramento-conteudo">
            <form id="wid-id-1">
                <div id="knoutContainerRastreadores">

                    <div>
                        <h4></h4>
                    </div>
                    <div class="row">
                        <!-- ko foreach: Rastreadores -->
                        <div class="col-12 col-md-3">
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h3 class="card-title" data-bind="text: Tecnologia.val"></h3>

                                </div>
                                <div class="card-body row">
                                    <span data-bind="text: Situacao.val, style: {                                                 
                                                    fontSize: '15px',
                                                    textAlign: 'center',
                                                    display: 'block',
                                                    color: Situacao.val() === 'ON-LINE' ? 'green' :
                                                           Situacao.val() === 'OFF-LINE' ? 'red' :
                                                           Situacao.val() === 'INATIVA' ? 'gray' : 'black'
                                                }">
                                    </span>


                                    <!-- ko if: Situacao.val() == 'ON-LINE' -->
                                    <label style="font-size:15px; text-align:center; display:block;">
                                        <i class="fas fa-wifi" style="color:green"></i>
                                        <span role="img" xmlns="http://www.w3.org/2000/svg"></span>
                                    </label>
                                    <!-- /ko -->
                                    <!-- ko if: Situacao.val() == 'OFF-LINE' -->
                                    <label style="font-size:15px; text-align:center; display:block;">
                                        <i class="fas fa-wifi" style="color:red"></i>
                                        <span role="img" xmlns="http://www.w3.org/2000/svg"></span>
                                    </label>
                                    <!-- /ko -->
                                    <!-- ko if: Situacao.val() == 'INATIVA' -->
                                    <label style="font-size:15px; text-align:center; display:block;">
                                        <i class="fas fa-wifi" style="color:gray"></i>
                                        <span role="img" xmlns="http://www.w3.org/2000/svg"></span>
                                    </label>
                                    <!-- /ko -->


                                    <div style="width:550px; height:300px; display:flex; align-items:center; justify-content:center;">
                                        <img data-bind="attr:{src: Logo.val}" style="max-width:100%; max-height:100%; object-fit:contain;" />
                                    </div>



                                    <div style="display: inline;">
                                        <span class="info-title fw-bold text-uppercase mb-0" >
                                            @Localization.Resources.Logistica.Monitoramento.DataUltimaPosicaoProcessada
                                        </span>
                                        <span data-bind="text: DataProcessada.val" style="font-size:16px; color:black;"></span>
                                    </div>
                                    <div style="display: inline;">
                                        <span class="info-title fw-bold text-uppercase mb-0">
                                            @Localization.Resources.Logistica.Monitoramento.DataUltimaPosicaoRecebida
                                        </span>
                                        <span data-bind="text: DataRecebida.val" style="font-size:16px; color:black;"></span>
                                    </div> 
                                    <div style="display: inline;">
                                        <span class="info-title fw-bold text-uppercase mb-0">
                                            @Localization.Resources.Logistica.Monitoramento.Latitude 
                                        </span>
                                        <span data-bind="text: Latitude.val" style="font-size:16px; color:black;"></span>
                                    </div>
                                    <div style="display: inline;">
                                        <span class="info-title fw-bold text-uppercase mb-0">
                                            @Localization.Resources.Logistica.Monitoramento.Longitude
                                        </span>
                                        <span data-bind="text: Longitude.val" style="font-size:16px; color:black;"></span>
                                    </div>
                                    <div style="display: inline;">
                                        <span class="info-title fw-bold text-uppercase mb-0">
                                            @Localization.Resources.Logistica.Monitoramento.Endereco
                                        </span>
                                        <span data-bind="text: Endereco.val" style="font-size:16px; color:black;"></span>
                                    </div>
                                    <div style="display: inline;">
                                        <span class="info-title fw-bold text-uppercase mb-0">
                                            @Localization.Resources.Logistica.Monitoramento.Placa
                                        </span>
                                        <span data-bind="text: Placa.val" style="font-size:16px; color:black;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>





                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/scripts/monitoramentoTecnologia"></script>

<script type="text/javascript">
    pageSetUp();

    if (!$("body").hasClass("menu-on-top"))
        $("body").addClass("minified");

    $(document).ready(function () {
        LoadLocalizationResources(["Logistica.Monitoramento"]).then(loadMonitoramentoTecnologia);
    });

</script>
