
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Logistica.MotivoParadaCentro.Logistica</li>
    <li class="breadcrumb-item active">  @Localization.Resources.Logistica.MotivoParadaCentro.MotivosParadaCentroCarregamento</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> @Localization.Resources.Logistica.MotivoParadaCentro.MotivosParadaCentroCarregamento
    </h1>
</div>



<div id="knockoutPesquisaMotivoParadaCentro">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Logistica.MotivoParadaCentro.PesquisarMotivosParadaCentroCarregamento
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="attr: { for: Descricao.id }">@Localization.Resources.Logistica.MotivoParadaCentro.Descricao</label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>

                            <div class="col-12 col-md-4" data-bind="visible: CentroCarregamento.visible">
                                <div class="form-group">
                                    <label class="form-label">@Localization.Resources.Logistica.MotivoParadaCentro.CentroCarregamento</label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id},class: CentroCarregamento.requiredClass" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: CentroCarregamento.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible : Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label">@Localization.Resources.Logistica.MotivoParadaCentro.Situacao: </label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span>@Localization.Resources.Logistica.MotivoParadaCentro.Pesquisar</span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                @Localization.Resources.Logistica.MotivoParadaCentro.CadastrarMotivoParadaCentroCarregamento
            </h3>
        </div>
        <div class="panel-content">
            <div id="knockoutCadastroMotivoParadaCentro">
                <div class="row">
                    <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="attr: { for: Descricao.id }">*@Localization.Resources.Logistica.MotivoParadaCentro.Descricao:</label>
                            <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, enable: Descricao.enable,  value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: CentroCarregamento.visible">
                        <div class="form-group">
                            <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.CentroCarregamento:</label>
                            <div class="input-group">
                                <input type="text" data-bind="css: CentroCarregamento.requiredClass, enable: CentroCarregamento.enable, value: CentroCarregamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: CentroCarregamento.maxlength, id : CentroCarregamento.id},class: CentroCarregamento.requiredClass" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable: CentroCarregamento.enable, attr: { id: CentroCarregamento.idBtnSearch}">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible : Ativo.visible">
                        <div class="form-group">
                            <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.Situacao:</label>
                            <select class="form-control" data-bind="enable: Ativo.enable, options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, enable: Ativo.enable, attr: { id : Ativo.id}"></select>
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: Data.visible">
                        <div class="form-group">
                            <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.Data:</label>
                            <input class="form-control" data-bind=" enable: Data.enable, css: Data.requiredClass, value: Data.val, enable: Data.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Data.maxlength, id : Data.id}">
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: PeriodoInicio.visible">
                        <div class="form-group">
                            <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.PeriodoInicio:</label>
                            <input class="form-control" data-bind=" enable: PeriodoInicio.enable, css: PeriodoInicio.requiredClass, value: PeriodoInicio.val, enable: PeriodoInicio.enable, valueUpdate: 'afterkeydown', attr: { maxlength: PeriodoInicio.maxlength, id : PeriodoInicio.id}">
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: PeriodoFim.visible">
                        <div class="form-group">
                            <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.PeriodoFim:</label>
                            <input class="form-control" data-bind=" enable: PeriodoFim.enable, css: PeriodoFim.requiredClass, value: PeriodoFim.val, enable: PeriodoFim.enable, valueUpdate: 'afterkeydown', attr: { maxlength: PeriodoFim.maxlength, id : PeriodoFim.id}">
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: !ContainerTipoOperacao.visible()">
                        <div class="form-group">
                            <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.QuantidadeParada:</label>
                            <input class="form-control" data-bind=" enable: QuantidadeParada.enable, css: QuantidadeParada.requiredClass, value: QuantidadeParada.val, enable: QuantidadeParada.enable, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeParada.maxlength, id : QuantidadeParada.id}">
                        </div>
                    </div>

                </div>
                <div data-bind="visible: ContainerTipoOperacao.visible">
                    <header>
                        @Localization.Resources.Logistica.MotivoParadaCentro.TipoOperacao
                    </header>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-5 margin-bottom-5">
                            <table class="table table-bordered table-hover" data-bind="attr: {id: GridTipoOperacao.id}" cellspacing="0"></table>
                        </section>
                        <div class="col-12 col-md-4" data-bind="visible: TipoOperacao.visible">
                            <div class="form-group">
                                <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.TipoOperacao:</label>
                                <div class="input-group">
                                    <input type="text" data-bind=" enable: TipoOperacao.enable, value: TipoOperacao.val, enable: TipoOperacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: TipoOperacao.maxlength, id : TipoOperacao.id}, class: TipoOperacao.requiredClass" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind=" enable: TipoOperacao.enable, attr: { id: TipoOperacao.idBtnSearch }, enable: TipoOperacao.enable">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: QuantidadeTipoOperacao.visible">
                            <div class="form-group">
                                <label class="form-label">*@Localization.Resources.Logistica.MotivoParadaCentro.Quantidade:</label>
                                <input class="form-control" data-bind="  enable: TipoOperacao.enable, value: QuantidadeTipoOperacao.val, enable: QuantidadeTipoOperacao.enable, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeTipoOperacao.maxlength, id : QuantidadeTipoOperacao.id}">
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: AdicionarTipoOperacao.eventClick, visible: AdicionarTipoOperacao.visible, attr: { id : AdicionarTipoOperacao.id}">
                                <span>@Localization.Resources.Logistica.MotivoParadaCentro.Adicionar</span>
                            </button>
                        </div>  
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span>@Localization.Resources.Logistica.MotivoParadaCentro.Cancelar</span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span>@Localization.Resources.Logistica.MotivoParadaCentro.Excluir</span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span>@Localization.Resources.Logistica.MotivoParadaCentro.Atualizar</span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span>@Localization.Resources.Logistica.MotivoParadaCentro.Adicionar</span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="~/scripts/motivoParadaCentro"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Logistica.MotivoParadaCentro").then(loadMotivoParadaCentro);
    });

</script>
