
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Filiais.Turno.Filiais</li>
    <li class="breadcrumb-item"> @Localization.Resources.Filiais.Turno.DescricaoTurno</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        @Localization.Resources.Filiais.Turno.DescricaoTurno
    </h1>
</div>

<div id="knockoutPesquisaTurno">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Filiais.Turno.PesquisarTurnos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mb-3">
                                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id }" type="button">
                                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text">@Localization.Resources.Filiais.Turno.Pesquisar</span>
                                </button>

                            </div>
                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel mt-3" id="wid-id-4" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#knockoutTurno" class="nav-link active" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">@Localization.Resources.Filiais.Turno.AdicionarTurno</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutHorarioAcesso" class="nav-link" data-bs-toggle="tab">
                        <span class="hidden-mobile hidden-tablet">@Localization.Resources.Filiais.Turno.HorariosAcesso</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="knockoutPesquisaTurno">
                <div class="tab-pane fade active show" id="knockoutTurno" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val,class: Descricao.requiredClass, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Status.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                    <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: Observacao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Observacao.text, attr: { for: Observacao.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: Observacao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Observacao.maxlength, id : Observacao.id }"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="knockoutHorarioAcesso" role="tabpanel">


                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: {id: Grid.id}" cellspacing="0"></table>

                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-4" data-bind="visible: DiasDaSemana.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DiasDaSemana.text, attr: { for: DiasDaSemana.id }"></label>
                                    <select class="form-control" data-bind="options: DiasDaSemana.options, optionsText: 'text', optionsValue: 'value', selectedOptions: DiasDaSemana.val, attr: { id : DiasDaSemana.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: HoraInicial.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: HoraInicial.text, attr: { for: HoraInicial.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: HoraInicial.val,class: HoraInicial.requiredClass, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicial.maxlength, id : HoraInicial.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: HoraFinal.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: HoraFinal.text, attr: { for: HoraFinal.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: HoraFinal.val, class: HoraFinal.requiredClass,valueUpdate: 'afterkeydown', attr: { maxlength: HoraFinal.maxlength, id : HoraFinal.id}" />
                                </div>
                            </div>
                            <footer>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                            <i class="fal fa-ban"></i>
                                            <span data-bind="text: Cancelar.text"></span>
                                        </button>


                                        <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                            <i class="fal fa-trash"></i>
                                            <span data-bind="text: Excluir.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                            <i class="fal fa-check"></i>
                                            <span data-bind="text: Atualizar.text"></span>
                                        </button>
                                        <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                            <span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </form>
                </div>
                <footer class="mt-2" id="knockoutCRUDTurno">

                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger me-2" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</div>
























<script src="~/scripts/turno"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Filiais.Turno").then(loadTurno);
    });

</script>
