<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.AbastecimentoInterno.MovimentoEntradaTanque.AbastecimentoInterno</li>
    <li class="breadcrumb-item active">@Localization.Resources.AbastecimentoInterno.MovimentoEntradaTanque.DescricaoMovimentoEntradaTanque</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        @Localization.Resources.AbastecimentoInterno.MovimentoEntradaTanque.DescricaoMovimentoEntradaTanque
    </h1>
</div>

<div id="knockoutPesquisaMovimentoEntradaTanque">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.AbastecimentoInterno.MovimentoEntradaTanque.PesquisarMovimentoEntradaTanque
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">

                            <div class="col-12 col-md-3" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: Empresa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: TipoOleo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoOleo.text, attr: { for: TipoOleo.id }"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="css: TipoOleo.requiredClass, value: TipoOleo.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': TipoOleo.text, maxlength: TipoOleo.maxlength, id: TipoOleo.id, name: TipoOleo.id }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: TipoOleo.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: DocumentoEntrada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DocumentoEntrada.text, attr: { for: DocumentoEntrada.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="css: DocumentoEntrada.requiredClass, value: DocumentoEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoEntrada.maxlength, id : DocumentoEntrada.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DocumentoEntrada.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible: LocalArmazenamento.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: LocalArmazenamento.text, attr: { for: LocalArmazenamento.id }"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bind="enable: LocalArmazenamento.enable, css: LocalArmazenamento.requiredClass, value: LocalArmazenamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalArmazenamento.maxlength, id : LocalArmazenamento.id}" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalArmazenamento.enable, attr: { id: LocalArmazenamento.idBtnSearch}" type="button" aria-label="Buscar">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataInicialEntrada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataInicialEntrada.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataInicialEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicialEntrada.maxlength, id : DataInicialEntrada.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: DataFinalEntrada.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: DataFinalEntrada.text"></label>
                                    <input type="text" class="form-control" data-bind="value: DataFinalEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinalEntrada.maxlength, id : DataFinalEntrada.id}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                @Localization.Resources.AbastecimentoInterno.MovimentoEntradaTanque.CadastrarMovimentoEntradaTanque
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div>
                    <div class="row" id="knockoutMovimentoEntradaTanque">

                        <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                            </div>
                        </div>

                        <div class="col-12 col-md-4" data-bind="visible: Empresa.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { 'aria-label': Empresa.text, maxlength: Empresa.maxlength, id: Empresa.id, name: Empresa.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="attr: { id: Empresa.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" data-bind="visible: DocumentoEntrada.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DocumentoEntrada.text, attr: { for: DocumentoEntrada.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: DocumentoEntrada.requiredClass, value: DocumentoEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DocumentoEntrada.maxlength, id : DocumentoEntrada.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: DocumentoEntrada.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5" data-bind="visible: Fornecedor.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: Fornecedor.text, attr: { for: Fornecedor.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="css: Fornecedor.requiredClass, value: Fornecedor.val, enable: Fornecedor.enable, valueUpdate: 'afterkeydown', attr: { maxlength: Fornecedor.maxlength, id : Fornecedor.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: Fornecedor.enable, attr: { id: Fornecedor.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-md-2" data-bind="visible: DataHoraNotaFiscal.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataHoraNotaFiscal.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataHoraNotaFiscal.val, valueUpdate: 'afterkeydown',enable: DataHoraNotaFiscal.enable, attr: { maxlength: DataHoraNotaFiscal.maxlength, id : DataHoraNotaFiscal.id}" />
                            </div>
                        </div>


                        <div class="col-12 col-md-5" data-bind="visible: LocalArmazenamento.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: LocalArmazenamento.text, attr: { for: LocalArmazenamento.id }"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="enable: LocalArmazenamento.enable, css: LocalArmazenamento.requiredClass, value: LocalArmazenamento.val, valueUpdate: 'afterkeydown', attr: { maxlength: LocalArmazenamento.maxlength, id : LocalArmazenamento.id}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" data-bind="enable: LocalArmazenamento.enable, attr: { id: LocalArmazenamento.idBtnSearch}" type="button" aria-label="Buscar">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" data-bind="visible: TipoOleo.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: TipoOleo.text, attr: { for: TipoOleo.id }"></label>
                                <div class="input-group">
                                    <input type="text" data-bind="css: TipoOleo.requiredClass, value: TipoOleo.val, valueUpdate: 'afterkeydown', TipoOleo, enable: TipoOleo.enable, attr: { 'aria-label': TipoOleo.text, maxlength: TipoOleo.maxlength, id: TipoOleo.id, name: TipoOleo.id }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-themed" type="button" data-bind="enable: TipoOleo.enable, attr: { id: TipoOleo.idBtnSearch}">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: DataHoraEntrada.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: DataHoraEntrada.text"></label>
                                <input type="text" class="form-control" data-bind="value: DataHoraEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataHoraEntrada.maxlength, id : DataHoraEntrada.id}" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3" data-bind="visible: QuantidadeEntrada.visible">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: QuantidadeEntrada.text"></label>
                                <input type="text" class="form-control" data-bind="value: QuantidadeEntrada.val, valueUpdate: 'afterkeydown', attr: { maxlength: QuantidadeEntrada.maxlength, id : QuantidadeEntrada.id}" />
                            </div>
                        </div>

                    </div>
                </div>
                <footer id="knockoutCRUDMovimentoEntradaTanque">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <i class="fal fa-check"></i>
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<script src="/scripts/movimentoEntradaTanque"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("AbastecimentoInterno.MovimentoEntradaTanque").then(LoadMovimentoEntradaTanque);

    });

</script>

