@model Dominio.ObjetosDeValor.Embarcador.DownloadDocumentos.DownloadDocumentosView

<!DOCTYPE html>
<html lang="pt-br" id="extr-page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Documentos da Carga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="~/css/fontAwesome" />
    <link rel="stylesheet" href="~/css/bootstrap-rastreio-entrega" />
    <link rel="stylesheet" href="~/css/novoRastreioEntrega" />

    <script src="~/scripts/jquery"></script>
    <script src="~/scripts/toastr"></script>
    <script src="~/scripts/localization"></script>
    <script src="~/scripts/knockout"></script>
    <script src="~/scripts/global"></script>
    <script src="~/scripts/maskMoney"></script>
    <script src="~/scripts/bootstrapColorSelector"></script>
    <script src="~/scripts/bootstrapAutoComplete"></script>
    <script src="~/scripts/bootstrapSelect"></script>
    <script src="~/scripts/downloadDocumentos"></script>
    <script src="~/scripts/configuracaoTMS"></script>
    <script src="~/scripts/blockUI"></script>
    <script src="~/scripts/fileDownload"></script>

    <script src="@Html.Raw(ViewBag.HTTPConnection)://maps.googleapis.com/maps/api/js?key=@Html.Raw(ViewBag.APIKeyGoogle)&libraries=places,geometry,drawing"></script>

    <link rel="shortcut icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon">
    <link rel="icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script>
        var page_data = {
            Token: "@Html.Raw(ViewBag.Token)",
            URL: "@Url.Action("feedback", "download-documentos")"
        };

        var _FormularioSomenteLeitura = false;
        var _CONFIGURACAO_TMS = @Html.Raw(ViewBag.ConfiguracaoPadrao);
    </script>
</head>
<body>
    <header class="container-logotipos">
        <div class="logo-principal">
            <h5 style="padding-top: 15px;">Documentos da Carga</h5>
        </div>
        <div class="logo-multi">
            <p>Multisoftware</p>
        </div>
    </header>
    <div id="main" role="main">
        <div id="content" class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>