
<!DOCTYPE html>
<html lang="pt-br" id="extr-page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet" />
    <title>@Html.Raw(ViewBag.Titulo) - @Localization.Resources.GestaoEntregas.Acompanhamento.SuaEntrega</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="~/css/fontAwesome" />
    <link rel="stylesheet" href="~/css/bootstrap-rastreio-entrega" />
    <link rel="stylesheet" href="~/css/novoRastreioEntrega" />

    <script src="~/scripts/jquery"></script>
    <script src="~/scripts/jqueryUI"></script>
    <script src="~/scripts/bootstrap-rastreio-entrega"></script>
    <script src="~/scripts/novoRastreioEntrega"></script>

    <script src="@Html.Raw(ViewBag.HTTPConnection)://maps.googleapis.com/maps/api/js?key=@Html.Raw(ViewBag.APIKeyGoogle)&libraries=places,geometry,drawing"></script>

    <link rel="shortcut icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon" />
    <link rel="icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script>
        var page_data = {
            Token: "@Html.Raw(ViewBag.Token)",
            URL: "@Url.Action("feedback", "sua-entrega")"
        };
    </script>
</head>
<body>
    <header id="header" class="container-logotipos">
        <div class="logo-principal">
            <span id="logo"> <img src="/img/logo-cliente.png" alt="Logo - @Html.Raw(ViewBag.Titulo)"> </span>
        </div>
        <div class="logo-multi">
            <p>Multisoftware</p>
        </div>
    </header>
    <div id="main" role="main">
        <div id="content" class="container">
            @RenderBody()
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="~/scripts/fileDownload"></script>

</body>
</html>