
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Email</li>
    <li class="breadcrumb-item active">@Localization.Resources.Email.ConfigEmailDocTransporte.ConfigEmailDocTransporte_</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i>@Localization.Resources.Email.ConfigEmailDocTransporte.ConfigEmails
    </h1>
</div>

<div id="knockoutPesquisaConfigEmailDocTransporte">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Email.ConfigEmailDocTransporte.PesquisarEmals
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-12" data-bind="visible: Email.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Email.text, attr: { for: Email.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Email.val, valueUpdate: 'afterkeydown', attr: { maxlength: Email.maxlength, id : Email.id}" />
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                @Localization.Resources.Email.ConfigEmailDocTransporte.CadastrarEmail
            </h3>
        </div>
        <div class="panel-content">
            <form id="knockoutCadastroConfigEmailDocTransporte">
                <div class="row">
                    <div class="col-12 col-md-6" data-bind="visible: Email.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Email.text, attr: { for: Email.id }"></label>
                            <input type="text" class="form-control" data-bind="css: Email.requiredClass,value: Email.val, valueUpdate: 'afterkeydown', attr: { maxlength: Email.maxlength, id : Email.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6" data-bind="visible: DisplayEmail.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DisplayEmail.text, attr: { for: DisplayEmail.id }"></label>
                            <input type="text" class="form-control" data-bind="value: DisplayEmail.val, valueUpdate: 'afterkeydown', attr: { maxlength: DisplayEmail.maxlength, id : DisplayEmail.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: Senha.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Senha.text, attr: { for: Senha.id }"></label>
                            <input type="password" class="form-control" data-bind="class: Senha.requiredClass, value: Senha.val, valueUpdate: 'afterkeydown', attr: { maxlength: Senha.maxlength, id : Senha.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: ConfimarSenha.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: ConfimarSenha.text, attr: { for: ConfimarSenha.id }"></label>
                            <input type="password" class="form-control" data-bind="class: ConfimarSenha.requiredClass, value: ConfimarSenha.val, valueUpdate: 'afterkeydown', attr: { maxlength: ConfimarSenha.maxlength, id : ConfimarSenha.id}" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4" data-bind="visible: EmailAtivo.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: EmailAtivo.text, attr: { for: EmailAtivo.id }"></label>
                            <select class="form-control" data-bind="class: EmailAtivo.requiredClass, options: EmailAtivo.options, optionsText: 'text', optionsValue: 'value', value: EmailAtivo.val, attr: { maxlength: EmailAtivo.maxlength, id : EmailAtivo.id}"></select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="list-group-item mt-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: SmtpAtivo.val, attr: { maxlength: SmtpAtivo.maxlength, name: SmtpAtivo.id, id: SmtpAtivo.id }">
                            <label class="custom-control-label" data-bind=" attr: { for: SmtpAtivo.id }">
                                @Localization.Resources.Email.ConfigEmailDocTransporte.SMTPCadastrarEmail
                            </label>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-md-6" data-bind="visible: Smtp.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Smtp.text, attr: { for: Smtp.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Smtp.val, attr: { maxlength: Smtp.maxlength, id : Smtp.id}, enable : SmtpAtivo.val " />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: PortaSmtp.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortaSmtp.text, attr: { for: PortaSmtp.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: PortaSmtp.val, attr: { maxlength: PortaSmtp.maxlength, id : PortaSmtp.id}, enable : SmtpAtivo.val " />
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-5" data-bind="visible: RequerAutenticacaoSmtp.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: RequerAutenticacaoSmtp.val, attr: { maxlength: RequerAutenticacaoSmtp.maxlength, name: RequerAutenticacaoSmtp.id, id: RequerAutenticacaoSmtp.id }, enable : SmtpAtivo.val">
                                        <label class="custom-control-label" data-bind="text: RequerAutenticacaoSmtp.text, attr: { for: RequerAutenticacaoSmtp.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: EnviarDocumentos.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: EnviarDocumentos.val, attr: { maxlength: EnviarDocumentos.maxlength, name: EnviarDocumentos.id, id: EnviarDocumentos.id }, enable : SmtpAtivo.val">
                                        <label class="custom-control-label" data-bind="text: EnviarDocumentos.text, attr: { for: EnviarDocumentos.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: MensagemRodape.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: MensagemRodape.text, attr: { for: MensagemRodape.id }"></label>
                                    <textarea class="form-control" rows="4" data-bind="value: MensagemRodape.val, attr: { maxlength: MensagemRodape.maxlength, id : MensagemRodape.id}, enable : SmtpAtivo.val"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: TipoConexaoEmail.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoConexaoEmail.text, attr: { for: TipoConexaoEmail.id }"></label>
                                    <select class="form-control" data-bind="enable: SmtpAtivo.val, class: TipoConexaoEmail.requiredClass, options: TipoConexaoEmail.options, optionsText: 'text', optionsValue: 'value', value: TipoConexaoEmail.val, attr: { maxlength: TipoConexaoEmail.maxlength, id : TipoConexaoEmail.id}"></select>
                                </div>
                            </div>
                                                      
                            <div class="col-12 col-md-6" data-bind="visible: TenantId.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TenantId.text, attr: { for: TenantId.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: TenantId.val, attr: { maxlength: TenantId.maxlength, id : TenantId.id}, enable : SmtpAtivo.val " />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: RedirectUri.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: RedirectUri.text, attr: { for: RedirectUri.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: RedirectUri.val, attr: { maxlength: RedirectUri.maxlength, id : RedirectUri.id}, enable : SmtpAtivo.val " />
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span>Tags: </span>
                            <input type="button" data-bind="click: TagQuebraLinha.eventClick, visible: TagQuebraLinha.visible, attr: { value: TagQuebraLinha.text, id : TagQuebraLinha.id}, enable : SmtpAtivo.val" class="btn btn-labeled btn-default botaoTags" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="list-group-item mt-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: Pop3Ativo.val, attr: { name: Pop3Ativo.id, id: Pop3Ativo.id }">
                            <label class="custom-control-label" data-bind=" attr: { for: Pop3Ativo.id }">
                                @Localization.Resources.Email.ConfigEmailDocTransporte.POP3RecebeEmail
                            </label>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-md-6" data-bind="visible: Pop3.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Pop3.text, attr: { for: Pop3.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Pop3.val, attr: { maxlength: Pop3.maxlength, id : Pop3.id}, enable : Pop3Ativo.val " />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: PortaPop3.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PortaPop3.text, attr: { for: PortaPop3.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: PortaPop3.val, attr: { maxlength: PortaPop3.maxlength, id : PortaPop3.id}, enable : Pop3Ativo.val " />
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mt-5" data-bind="visible: RequerAutenticacaoPop3.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: RequerAutenticacaoPop3.val, attr: { maxlength: RequerAutenticacaoPop3.maxlength, name: RequerAutenticacaoPop3.id, id: RequerAutenticacaoPop3.id }, enable : Pop3Ativo.val">
                                        <label class="custom-control-label" data-bind="text: RequerAutenticacaoPop3.text, attr: { for: RequerAutenticacaoPop3.id }"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12" data-bind="visible: LerDocumentos.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: LerDocumentos.val, attr: { maxlength: LerDocumentos.maxlength, name: LerDocumentos.id, id: LerDocumentos.id }, enable : Pop3Ativo.val ">
                                        <label class="custom-control-label" data-bind="text: LerDocumentos.text, attr: { for: LerDocumentos.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="list-group-item mt-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: ApiEnvioEmail.val, attr: { name: ApiEnvioEmail.id, id: ApiEnvioEmail.id }">
                            <label class="custom-control-label" data-bind=" attr: { for: ApiEnvioEmail.id }">
                                @Localization.Resources.Email.ConfigEmailDocTransporte.ApiEnvioEmail
                            </label>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-md-2">
                            <div class="form-group">
                                <label class="form-label" data-bind="text: ServidorEmail.text, attr: { for: ServidorEmail.id }"></label>
                                <select class="form-control" data-bind="enable: ApiEnvioEmail.val, class: ServidorEmail.requiredClass, options: ServidorEmail.options, optionsText: 'text', optionsValue: 'value', value: ServidorEmail.val, attr: { maxlength: ServidorEmail.maxlength, id : ServidorEmail.id}"></select>
                            </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UrlAutenticacao.text, attr: { for: UrlAutenticacao.id }"></label>
                                    <input type="text" class="form-control"
                                           data-bind="value: UrlAutenticacao.val, attr: { maxlength: UrlAutenticacao.maxlength, id: UrlAutenticacao.id }, enable: ApiEnvioEmail.val" />
                                </div>
                            </div>
                            <div class="col-12 col-md-5" data-bind="visible: ClientId.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ClientId.text, attr: { for: ClientId.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: ClientId.val, attr: { maxlength: ClientId.maxlength, id : ClientId.id}, enable : ApiEnvioEmail.val" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6" data-bind="visible: ClientSecret.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ClientSecret.text, attr: { for: ClientSecret.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: ClientSecret.val, attr: { maxlength: ClientSecret.maxlength, id : ClientSecret.id}, enable : ApiEnvioEmail.val " />
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-5" data-bind="visible: caminhoTokenResposta.visible">
                                <p class="form-label" data-bind="text: caminhoTokenResposta.text"></p>
                                <div class="custom-file" data-bind="visible: caminhoTokenResposta.visible">
                                    <input type="file" class="custom-file-input" data-bind="value: caminhoTokenResposta.val, attr: {id: caminhoTokenResposta.id}" readonly>
                                    <label class="custom-file-label" data-bind="attr: {for: caminhoTokenResposta.id}, text: caminhoTokenResposta.val() !=``? caminhoTokenResposta.val(): `Selecione um arquivo para anexar`"></label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: UrlEnvio.text, attr: { for: UrlEnvio.id }"></label>
                                    <input type="text" class="form-control"
                                           data-bind="value: UrlEnvio.val, attr: { maxlength: UrlEnvio.maxlength, id: UrlEnvio.id }, enable: ApiEnvioEmail.val" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer>
                    <div class="row mt-2">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-default ms-1" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                                <i class="fal fa-ban"></i>
                                <span data-bind="text: Cancelar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-danger ms-1" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                <i class="fal fa-trash"></i>
                                <span data-bind="text: Excluir.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-1" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                            <button type="button" class="btn btn-labeled btn-success ms-1"
                                    data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                <span data-bind="text: Adicionar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>





<script src="~/scripts/configEmailDocTransporte"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Email.ConfigEmailDocTransporte").then(loadConfigEmailDocTransporte);
    });

</script>

