@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView
<div class="tab-pane fade show active table-responsive-md" id="detalhe-pedido" role="tabpanel" aria-labelledby="detalhe-pedido-tab">
    <table class="table-hover">
        <tr class="table-secondary">
            <td class="col-1 col-md-2 desc-tabela">@Localization.Resources.GestaoEntregas.Acompanhamento.NomeDoMotorista:</td>
            <td class="col-11 col-md-10">@Model.NomeMotorista</td>
        </tr>
        @*<tr>
                <td class="col-1 col-md-2 desc-tabela">@Localization.Resources.GestaoEntregas.Acompanhamento.Telefone:</td>
                <td class="col-11 col-md-10">@Model.TelefoneMotorista</td>
            </tr>
            <tr>
                <td class="col-1 col-md-2 desc-tabela">@Localization.Resources.GestaoEntregas.Acompanhamento.Veiculo:</td>
                <td class="col-11 col-md-10">@Model.PlacaVeiculo</td>
            </tr>*@
    </table>
</div>