
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Gerais.Geral.Cargas</li>
    <li class="breadcrumb-item active">@Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.TipoCargaModeloVeicularAutoConf</li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class=""></i> @Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.ConfigGeracAutTipoCargaModeloVeicular
    </h1>
    <div class="subheader-help">
        <button type="button" onclick="iniciarAjuda(1042)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
    </div>
</div>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabTipoCarga" class="nav-link active" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">@Localization.Resources.Gerais.Geral.TiposCarga</span></a>
                </li>
                <li class="nav-item">
                    <a href="#tabModeloVeicular" class="nav-link" data-bs-toggle="tab"><span class="hidden-mobile hidden-tablet">@Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.ModelosVeicularesCarga</span></a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3" id="knockoutConfigTipoCargaModeloVeicularAutoConfig">
                <!-- Tipos de Carga  -->
                <div id="tabTipoCarga" class="tab-pane fade active show">
                    <form>
                        <h5>@Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.ConfigurarAutomatizacaoTipoCarga</h5>
                        <hr />
                        <div class="row mt-3">
                            <div class="col-12 col-md-4" data-bind="visible: TipoAutomatizacaoTipoCarga.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoAutomatizacaoTipoCarga.text, attr: { for: TipoAutomatizacaoTipoCarga.id }"></label>
                                    <select class="form-control" data-bind="options: TipoAutomatizacaoTipoCarga.options, optionsText: 'text', optionsValue: 'value', value: TipoAutomatizacaoTipoCarga.val, attr: { id: TipoAutomatizacaoTipoCarga.id}"></select>
                                </div>
                            </div>
                        </div>
                        <div id="divAutomatizacaoTipoCargaPrioridade" class="d-none">
                            <div class="panel">
                                <div class="panel-container">
                                    <div class="panel-hdr">
                                        <h3>@Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.TiposCargaPrioridade</h3>
                                    </div>
                                    <div class="panel-content">
                                        <div class="row">
                                            <section id="reorderSelector" class="insideNoPaddignTable mb-3"></section>
                                            <div class="col-12 col-md-12" data-bind="visible: TiposCarga.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TiposCarga.text, attr: { for: TiposCarga.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: TiposCarga.requiredClass, value: TiposCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TiposCarga.maxlength, id : TiposCarga.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TiposCarga.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: AdicionarTiposCarga.eventClick, visible: AdicionarTiposCarga.visible, attr: { value: AdicionarTiposCarga.text, id : AdicionarTiposCarga.id}">
                                                    <span data-bind="text: AdicionarTiposCarga.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divAutomatizacaoTipoCargaValor" class="d-none">
                            <div class="panel">
                                <div class="panel-container">
                                    <div class="panel-hdr">
                                        <h3>@Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.TiposCargaValor</h3>
                                    </div>
                                    <div class="panel-content">
                                        <div class="row">
                                            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridTipoCargaValor.id}" cellspacing="0"></table>
                                            <div class="col-12 col-md-6" data-bind="visible: TiposCargaValor.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TiposCargaValor.text, attr: { for: TiposCargaValor.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: TiposCargaValor.requiredClass, value: TiposCargaValor.val, valueUpdate: 'afterkeydown', attr: { maxlength: TiposCargaValor.maxlength, id : TiposCargaValor.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: TiposCargaValor.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: UFDestino.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: UFDestino.text, attr: { for: UFDestino.id }"></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-bind="css: UFDestino.requiredClass, value: UFDestino.val, valueUpdate: 'afterkeydown', attr: { maxlength: UFDestino.maxlength, id : UFDestino.id}" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: UFDestino.idBtnSearch}" type="button" aria-label="Buscar">
                                                                <i class="fal fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: TipoValorTipoCargaValor.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: TipoValorTipoCargaValor.text, attr: { for: TipoValorTipoCargaValor.id }"></label>
                                                    <select class="form-control" data-bind="options: TipoValorTipoCargaValor.options, optionsText: 'text', optionsValue: 'value', value: TipoValorTipoCargaValor.val, attr: { id: TipoValorTipoCargaValor.id}"></select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2" data-bind="visible: ValorTipoCargaValor.visible">
                                                <div class="form-group">
                                                    <label class="form-label" data-bind="text: ValorTipoCargaValor.text, attr: { for: ValorTipoCargaValor.id }"></label>
                                                    <input type="text" class="form-control" data-bind="value: ValorTipoCargaValor.val, attr: { maxlength: ValorTipoCargaValor.maxlength, id : ValorTipoCargaValor.id}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" class="btn btn-labeled btn-success" data-bind="click: AdicionarTipoCargaValor.eventClick, visible: AdicionarTipoCargaValor.visible, attr: { value: AdicionarTipoCargaValor.text, id : AdicionarTipoCargaValor.id}">
                                                    <span data-bind="text: AdicionarTipoCargaValor.text"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modelos Veiculares de Carga -->
                <div class="tab-pane fade" id="tabModeloVeicular">
                    <h5>@Localization.Resources.Cargas.TipoCargaModeloVeicularAutoConfig.ModeloVeicularCarga</h5>
                    <hr />
                    <div class="row mt-3">
                        <div class="col-12 col-md-12" data-bind="visible: AutoModeloVeicularHabilitado.visible">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: AutoModeloVeicularHabilitado.val, attr: { maxlength: AutoModeloVeicularHabilitado.maxlength, name: AutoModeloVeicularHabilitado.id, id: AutoModeloVeicularHabilitado.id }">
                                    <label class="custom-control-label" data-bind="text: AutoModeloVeicularHabilitado.text, attr: { for: AutoModeloVeicularHabilitado.id }"></label>
                                </div>
                            </div>
                        </div>
                        <div data-bind="fadeVisible: AutoModeloVeicularHabilitado.val">
                            <div class="panel">
                                <div class="panel-container">
                                    <div class="panel-hdr">
                                        <h3>@Localization.Resources.Gerais.Geral.Detalhes</h3>
                                    </div>
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-12 col-md-4" data-bind="visible: ControlarModeloPorNumeroPaletes.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ControlarModeloPorNumeroPaletes.val, attr: { maxlength: ControlarModeloPorNumeroPaletes.maxlength, name: ControlarModeloPorNumeroPaletes.id, id: ControlarModeloPorNumeroPaletes.id }">
                                                        <label class="custom-control-label" data-bind="text: ControlarModeloPorNumeroPaletes.text, attr: { for: ControlarModeloPorNumeroPaletes.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: ControlarModeloPorPeso.visible">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ControlarModeloPorPeso.val, attr: { maxlength: ControlarModeloPorPeso.maxlength, name: ControlarModeloPorPeso.id, id: ControlarModeloPorPeso.id }">
                                                        <label class="custom-control-label" data-bind="text: ControlarModeloPorPeso.text, attr: { for: ControlarModeloPorPeso.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" data-bind="visible: ControlarModeloPorPeso.val ">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" data-bind="checked: ConsiderarToleranciaMenorPesoModelo.val, attr: { maxlength: ConsiderarToleranciaMenorPesoModelo.maxlength, name: ConsiderarToleranciaMenorPesoModelo.id, id: ConsiderarToleranciaMenorPesoModelo.id }">
                                                        <label class="custom-control-label" data-bind="text: ConsiderarToleranciaMenorPesoModelo.text, attr: { for: ConsiderarToleranciaMenorPesoModelo.id }"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="row mt-3">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { value: Atualizar.text, id : Atualizar.id}" class="btn btn-labeled btn-success">
                                <span data-bind="text: Atualizar.text"></span>
                            </button>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tipoCargaModeloVeicularAutoConfig"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Cargas.TipoCargaModeloVeicularAutoConfig").then(loadTipoCargaModeloVeicularAutoConfig);
    });

</script>

