@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView
@{
    Layout = "~/Views/GestaoEntregas/RastreioEntrega/RastreioEntrega.cshtml";
}
@if (Model.Localizacao.ExibirMapa)
{
    <div class="col col-sm-12 col-lg-6 margin-top-15">
        @Html.PartialAsync("~/Views/GestaoEntregas/RastreioEntrega/Informacoes.cshtml", Model)

        <div class="margin-top-15">
            @Html.PartialAsync("~/Views/GestaoEntregas/RastreioEntrega/Historico.cshtml", Model)
        </div>
    </div>
    <div class="col col-sm-12 col-lg-6 margin-top-15">
        @Html.PartialAsync("~/Views/GestaoEntregas/RastreioEntrega/Mapa.cshtml", Model)
    </div>
}
else
{
    <div class="col col-sm-12 col-lg-6 margin-top-15">
        @Html.PartialAsync("~/Views/GestaoEntregas/RastreioEntrega/Informacoes.cshtml", Model)
    </div>
    <div class="col col-sm-12 col-lg-6 margin-top-15">
        @Html.PartialAsync("~/Views/GestaoEntregas/RastreioEntrega/Historico.cshtml", Model)
    </div>
}

<style>
    fieldset.main-fieldset {
        padding-top: 15px;
    }

        fieldset.main-fieldset > header {
            margin-bottom: 15px;
        }

    .questions {
    }

        .questions .question {
            background-color: #f5f5f5;
            padding: 15px;
            margin-bottom: 15px;
        }
</style>
