@model Dominio.ObjetosDeValor.Embarcador.GestaoEntregas.EntregaView

<div class="well">
    <header>Detalhe da Entrega</header>
    <fieldset>
        <div class="row">
            <section class="col col-12">
                <label><b>Número Carga:</b> <span>@Model.Numero</span></label>
            </section>

            @if (!string.IsNullOrWhiteSpace(Model.NumeroTransporte))
            {
                <section class="col col-12">
                    <label><b>Número Transporte:</b> <span>@Model.NumeroTransporte</span></label>
                </section>
            }

            <section class="col col-12">
                <label><b>Destinatário:</b> <span>@Model.Destinatario</span></label>
            </section>

            <section class="col col-12">
                <label><b>Localidade:</b> <span>@Model.Localidade</span></label>
            </section>

            <section class="col col-12">
                <label><b>Situação:</b> <span>@Model.Situacao</span></label>
            </section>

            @if (!string.IsNullOrWhiteSpace(Model.DataPrevisaoChegada))
            {
                <section class="col col-12">
                    <label><b>Previsão Entrega:</b> <span>@Model.DataPrevisaoChegada</span></label>
                </section>
            }

            @if (Model.Volumes > 0)
            {
                <section class="col col-12">
                    <label><b>Volumes:</b> <span>@Model.Volumes</span></label>
                </section>
            }

            @if (!string.IsNullOrWhiteSpace(Model.NotasFiscais))
            {
                <section class="col col-12">
                    <label><b>Notas Fiscais:</b> <span>@Model.NotasFiscais</span></label>
                </section>
            }

            <section class="col col-12">
                <label><b>Transportador:</b> <span>@Model.Transportador</span></label>
            </section>

            @if (!string.IsNullOrWhiteSpace(Model.Filial))
            {
                <section class="col col-12">
                    <label><b>Filial:</b> <span>@Model.Filial</span></label>
                </section>
            }
        </div>
    </fieldset>

    @Html.Partial("~/Views/GestaoEntregas/Acompanhamento/Avaliacao.cshtml", Model)
</div>
