
<!DOCTYPE html>
<html lang="pt-br" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>@Html.Raw(ViewBag.Titulo) - Rastreio Entrega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="~/css/bootstrap" />
    <link rel="stylesheet" href="~/css/fontAwesome" />
    <link rel="stylesheet" href="~/css/plugins" />
    <link rel="stylesheet" href="~/css/production" />
    <link rel="stylesheet" href="~/css/skins" />
    <link rel="stylesheet" href="~/css/smartAdminRTL" />
    <link rel="stylesheet" href="~/css/yourStyle" />

    <script src="~/scripts/jquery"></script>
    <script src="~/scripts/jqueryUI"></script>
    <script src="~/scripts/bootstrap"></script>
    <script src="~/scripts/rastreioEntrega"></script>

    <script src="@Html.Raw(ViewBag.HTTPConnection)://maps.googleapis.com/maps/api/js?key=@Html.Raw(ViewBag.APIKeyGoogle)&libraries=places,geometry,drawing"></script>

    <link rel="shortcut icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon">
    <link rel="icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script>
        var page_data = {
            Token: "@Html.Raw(ViewBag.Token)",
            URL: "@Url.Action("feedback", "rastreio-entrega")"
        };
    </script>
</head>
<body class="animated fadeInDown">
    <header id="header" style="@Html.Raw(ViewBag.Layout)">
        <div id="logo-group">
            <span id="logo"> <img src="/@Html.Raw(ViewBag.Logo)" alt="Logo - @Html.Raw(ViewBag.Titulo)"> </span>
        </div>
    </header>
    <div id="main" role="main">
        <div id="content" class="container-fluid">

            <div class="smart-form">
                <fieldset class="main-fieldset">
                    <header>
                        <h1 class="h3">Rastreio Entrega</h1>
                    </header>
                    <div class="">
                        @RenderBody()
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>