
<section id="widget-grid">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">@Localization.Resources.Pessoas.PerfilAcesso.Pessoas</li>
        <li class="breadcrumb-item active">Perfil Acesso</li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-user"></i> @Localization.Resources.Pessoas.PerfilAcesso.PerfilDeAcesso
        </h1>
        <div class="subheader-help">
            <button type="button" onclick="iniciarAjuda(597)" data-action="toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Abrir a ajuda da página" aria-label="Abrir a ajuda da página"><i class="fal fa-question-circle"></i></button>
        </div>
    </div>

    <div class="panel">
        <div class="panel-container">
            <div id="knockoutPesquisaPerfil" class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Pessoas.PerfilAcesso.PesquisarPerfis
                </button>


                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form class="mb-3">
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible: Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text, attr: { for: Ativo.id }"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end mt-3 mb-3">
                        <button class="btn btn-primary" type="button" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}">
                            <i class="fal fa-search"></i> <span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>

                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>

            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li id="liTabPerfil" class="nav-item">
                        <a href="#tabPerfil" class="nav-link active" data-bs-toggle="tab">
                            <i class="fal fa-user"></i> <span class="hidden-mobile hidden-tablet">@Localization.Resources.Pessoas.PerfilAcesso.Perfil</span>
                        </a>
                    </li>
                    <li id="liTabPermissoes" class="nav-item">
                        <a href="#tabPermissoes" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-check-square"></i> <span class="hidden-mobile hidden-tablet">@Localization.Resources.Pessoas.PerfilAcesso.Permissoes</span>
                        </a>
                    </li>
                    <li id="liTabOcorrencias" class="nav-item">
                        <a href="#tabOcorrencias" class="nav-link" data-bs-toggle="tab">
                            <i class="fal fa-list"></i> <span class="hidden-mobile hidden-tablet">@Localization.Resources.Pessoas.PerfilAcesso.Ocorrencias</span>
                        </a>
                    </li>
                </ul>
                <div id="knockoutCadastroPerfil" class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade active show" id="tabPerfil">
                        <h4>@Localization.Resources.Pessoas.PerfilAcesso.CadastrarPerfil</h4>
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-4" data-bind="visible: Descricao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                        <input type="text" class="form-control" data-bind="css: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: CodigoIntegracao.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: CodigoIntegracao.text, attr: { for: CodigoIntegracao.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: CodigoIntegracao.val, valueUpdate: 'afterkeydown', attr: { maxlength: CodigoIntegracao.maxlength, id : CodigoIntegracao.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: HoraInicialAcesso.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: HoraInicialAcesso.text, attr: { for: HoraInicialAcesso.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: HoraInicialAcesso.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraInicialAcesso.maxlength, id : HoraInicialAcesso.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: HoraFinalAcesso.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: HoraFinalAcesso.text, attr: { for: HoraFinalAcesso.id }"></label>
                                        <input type="text" class="form-control" data-bind="value: HoraFinalAcesso.val, valueUpdate: 'afterkeydown', attr: { maxlength: HoraFinalAcesso.maxlength, id : HoraFinalAcesso.id}" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-2" data-bind="visible: Status.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Status.text, attr: { for: Status.id }"></label>
                                        <select class="form-control" data-bind="options: Status.options, optionsText: 'text', optionsValue: 'value', value: Status.val, attr: { id : Status.id}"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" data-bind="visible: Turno.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: Turno.text, attr: { for: Turno.id }"></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-bind="value: Turno.val, valueUpdate: 'afterkeydown', attr: { maxlength: Turno.maxlength, id : Turno.id}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button" data-bind="attr: { id: Turno.idBtnSearch}">
                                                    <i class="fal fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-bind="visible: PermiteSalvarNovoRelatorio.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteSalvarNovoRelatorio.val, attr: { maxlength: PermiteSalvarNovoRelatorio.maxlength, name: PermiteSalvarNovoRelatorio.id, id: PermiteSalvarNovoRelatorio.id }">
                                            <label class="custom-control-label" data-bind="text: PermiteSalvarNovoRelatorio.text, attr: { for: PermiteSalvarNovoRelatorio.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-bind="visible: PermiteTornarRelatorioPadrao.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteTornarRelatorioPadrao.val, attr: { maxlength: PermiteTornarRelatorioPadrao.maxlength, name: PermiteTornarRelatorioPadrao.id, id: PermiteTornarRelatorioPadrao.id }">
                                            <label class="custom-control-label" data-bind="text: PermiteTornarRelatorioPadrao.text, attr: { for: PermiteTornarRelatorioPadrao.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-bind="visible: PermiteSalvarConfiguracoesRelatoriosParaTodos.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteSalvarConfiguracoesRelatoriosParaTodos.val, attr: { maxlength: PermiteSalvarConfiguracoesRelatoriosParaTodos.maxlength, name: PermiteSalvarConfiguracoesRelatoriosParaTodos.id, id: PermiteSalvarConfiguracoesRelatoriosParaTodos.id }">
                                            <label class="custom-control-label" data-bind="text: PermiteSalvarConfiguracoesRelatoriosParaTodos.text, attr: { for: PermiteSalvarConfiguracoesRelatoriosParaTodos.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-bind="visible : TiposPropostasMultimodal.visible">
                                    <div class="form-group">
                                        <label class="form-label" data-bind="text: TiposPropostasMultimodal.text, attr: { for: TiposPropostasMultimodal.id }"></label>
                                        <select class="form-control" data-bind="options: TiposPropostasMultimodal.options, optionsText: 'text', optionsValue: 'value', selectedOptions: TiposPropostasMultimodal.val, attr: { id : TiposPropostasMultimodal.id}" multiple="multiple" data-actions-box="false" data-selected-text-format="count > 3" title="Sem Configuração"></select>
                                    </div>
                                </div>
                                <div class="col-12" data-bind="visible: PermiteFaturamentoPermissaoExclusiva.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: PermiteFaturamentoPermissaoExclusiva.val, valueUpdate: 'afterkeydown', attr: { name: PermiteFaturamentoPermissaoExclusiva.id, id : PermiteFaturamentoPermissaoExclusiva.id}" />
                                            <label class="custom-control-label" data-bind="text: PermiteFaturamentoPermissaoExclusiva.text, attr: { for: PermiteFaturamentoPermissaoExclusiva.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-bind="visible: VisualizarTitulosPagamentoSalario.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: VisualizarTitulosPagamentoSalario.val, valueUpdate: 'afterkeydown', attr: { name: VisualizarTitulosPagamentoSalario.id, id : VisualizarTitulosPagamentoSalario.id}" />
                                            <label class="custom-control-label" data-bind="text: VisualizarTitulosPagamentoSalario.text, attr: { for: VisualizarTitulosPagamentoSalario.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="tabPermissoes">
                        <h4 class="position-relative">
                            @Localization.Resources.Pessoas.PerfilAcesso.Permissoes <a href="javascript:void(0);" title="Entenda a página" class="card-help" onclick="iniciarAjuda(600)"><i class="fal fa-question-circle"></i></a>
                        </h4>
                        <form id="fildPermissoes">
                            <div class="form-group" data-bind="visible: PerfilAdministrador.visible">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: PerfilAdministrador.val, attr: { maxlength: PerfilAdministrador.maxlength, name: PerfilAdministrador.id, id: PerfilAdministrador.id }">
                                    <label class="custom-control-label" data-bind="text: PerfilAdministrador.text, attr: { for: PerfilAdministrador.id }"></label>
                                </div>
                            </div>
                        </form>
                        <div class="tree" id="divTreeView" data-bind="fadeVisible: !PerfilAdministrador.val()"></div>
                    </div>
                    <div class="tab-pane fade" id="tabOcorrencias">
                        <h4>@Localization.Resources.Pessoas.PerfilAcesso.Ocorrencias</h4>
                        <form id="knoutOcorrencias">
                            <div class="col-12 col-md-12" data-bind="visible: PermitirAbrirOcorrenciaAposPrazoSolicitacao.visible">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: PermitirAbrirOcorrenciaAposPrazoSolicitacao.val, attr: { maxlength: PermitirAbrirOcorrenciaAposPrazoSolicitacao.maxlength, name: PermitirAbrirOcorrenciaAposPrazoSolicitacao.id, id: PermitirAbrirOcorrenciaAposPrazoSolicitacao.id }">
                                        <label class="custom-control-label" data-bind="text: PermitirAbrirOcorrenciaAposPrazoSolicitacao.text, attr: { for: PermitirAbrirOcorrenciaAposPrazoSolicitacao.id }"></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-danger" type="button" data-bind="click: Excluir.eventClick,visible: Excluir.visible, text: Excluir.text, attr: { id : Excluir.id}"></button>
                        <button class="btn btn-default ms-2" type="button" data-bind="click: Cancelar.eventClick,visible: Cancelar.visible, text: Cancelar.text, attr: { id : Cancelar.id}"></button>
                        <button class="btn btn-success ms-2" type="button" data-bind="click: Atualizar.eventClick,visible: Atualizar.visible, text: Atualizar.text, attr: { id : Atualizar.id}"></button>
                        <button class="btn btn-success ms-2" type="button" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick,visible: Adicionar.visible, text: Adicionar.text, attr: { id : Adicionar.id}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/scripts/treeviewLoad"></script>
<script src="~/scripts/perfilAcesso"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Pessoas.PerfilAcesso").then(loadPerfilAcesso)
    });

</script>

