
<!DOCTYPE html>
<html lang="pt-br" id="extr-page">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@Html.Raw(ViewBag.Titulo)</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="~/css/bootstrap" />
	<link rel="stylesheet" href="~/css/fontAwesome" />
	<link rel="stylesheet" href="~/css/plugins" />
	<link rel="stylesheet" href="~/css/fullCalendar" />
	<link rel="stylesheet" href="~/css/production" />
	<link rel="stylesheet" href="~/css/skins" />
	<link rel="stylesheet" href="~/css/bootstrap-datetimepicker" />
	<link rel="stylesheet" href="~/css/bootstrapSelect" />
	<link rel="stylesheet" href="~/css/bootstrapToggle" />
	<link rel="stylesheet" href="~/css/dataTablesCheckboxes" />
	<link rel="stylesheet" href="~/css/bootstrap-colorselector" />
	<link rel="stylesheet" href="~/css/googleMaps" />
	<link rel="stylesheet" href="~/css/yourStyle" />
	<link rel="stylesheet" href="~/css/retiradaProduto" />

	<style type="text/css">

		#content {
			margin-top: 60px;
		}

		header.header {
			padding: 30px 0;
			-webkit-box-shadow: 0 3px 15px 3px #f1f1f1;
			box-shadow: 0 3px 15px 3px #f1f1f1;
			border-bottom: 1px solid #d9dde9;
			background-color: #fefeff;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 810;
		}

			header.header .header-logo {
				max-height: 70px;
			}

				header.header .header-logo img {
					height: 100%;
				}

			header.header .search-form form {
				display: block;
				text-align: center;
				line-height: 50px;
			}

			header.header .search-form .search-input {
				margin-left: 10px;
				margin-right: 10px;
			}

			header.header .header-actions {
				text-align: right;
				border-left: 1px solid #d9dde9;
				line-height: 50px;
				font-size: 25px;
			}

				header.header .header-actions .dropdown-toggle::after {
					display: none;
				}

				header.header .header-actions.open .dropdown-menu {
					display: block;
					right: calc(-25%);
					left: auto;
				}

				header.header .header-actions i {
					margin: auto 5px;
					color: #475999;
				}

				header.header .header-actions a:hover {
					text-decoration: none;
				}


		.well {
			border: 2px solid #eff1f6;
			border-radius: 10px;
			-webkit-box-shadow: 0 0 25px 10px #eaecf7;
			box-shadow: 0 0 25px 10px #eaecf7;
			padding: 19px;
			margin-bottom: 20px;
		}

		.well-dark {
			background-color: #f1f2f9;
		}

		.well .well-title .well-title-icon {
			float: left;
		}

			.well .well-title .well-title-icon::after {
				content: '';
				display: block;
				clear: both;
			}
	</style>
	<script src="@Html.Raw(ViewBag.HTTPConnection)://maps.googleapis.com/maps/api/js?key=@Html.Raw(ViewBag.APIKeyGoogle)&libraries=places,geometry,drawing"></script>

	<link rel="shortcut icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon">
	<link rel="icon" href="/@Html.Raw(ViewBag.Favicon)" type="image/x-icon">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script>
		var page_data = {
			Token: "@Html.Raw(ViewBag.Token)",
			URL: "@Url.Action("AcompanhamentoPedido", "consultar-pedido")"
		};
	</script>
</head>
<body>
	<header class="header" style="padding:5px">
		<div class="container" style="margin-left:10px !important;">
			<div class="row">
				<div class="col-lg-3 header-logo">
					<img src="~/img/logo-cliente.png" class="logo" style="height:50px" />
				</div>
			</div>
		</div>
	</header>
	<main role="main" style="padding:0px !important">
		<div id="content">
			<div class="margin-top-15">
				<div class="col col-sm-12">
					<div class="well">
						<header>Acesso Inválido</header>
						<div style="padding-top:20px">
							<div class="row">
								<div class="col col-12">
									<div class="alert alert-warning">
										Token inválido <strong>"@Html.Raw(ViewBag.Token)"</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

</body>

</html>

