

<!DOCTYPE html>
<html lang="pt-br">
<head>
	@if (!System.Diagnostics.Debugger.IsAttached)
	{
		if (!string.IsNullOrWhiteSpace(ViewBag.GTAG))
		{
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=@Html.Raw(ViewBag.GTAG)"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());

				gtag('config', '@Html.Raw(ViewBag.GTAG)');
			</script>
		}

		<script type="text/javascript">
			(function (c, l, a, r, i, t, y) {
				c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
				t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
				y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "l5r349swo9");
		</script>
	}
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>@Html.Raw(ViewBag.Titulo)</title>
	<meta name="description" content="@Html.Raw(ViewBag.Titulo)" />
	<meta name="author" content="@Html.Raw(ViewBag.Copyright) by nstech" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="shortcut icon" href="@Html.Raw(ViewBag.Favicon)" type="image/x-icon" />
	<link rel="icon" href="@Html.Raw(ViewBag.Favicon)" type="image/x-icon" />
	<link rel="stylesheet" href="/css/appBundle" />
	<link rel="stylesheet" href="/css/pluginBundle" />
	@if (!string.IsNullOrWhiteSpace(ViewBag.ClasseCorBotoes))
	{
		<link rel="stylesheet" href="/css/retiradaProduto" />
		<link id="mytheme" rel="stylesheet" media="screen, print" href="/css/customTheme14" />
	}
	else
	{
		<link id="mytheme" rel="stylesheet" media="screen, print" href="/css/customTheme7" />
	}

	<link rel="stylesheet" href="/css/skinBundle" />
	<link rel="stylesheet" href="/css/summernote" />
</head>

<body class="@Html.Raw(ViewBag.Layout) @Html.Raw(ViewBag.HeaderOnTop) mod-bg-7 mod-nav-link">
	<script>
		'use strict'
		var classHolder = document.getElementsByTagName("BODY")[0],
			themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) : {},
			themeURL = themeSettings.themeURL || '',
			themeOptions = themeSettings.themeOptions || '';

		if (themeSettings.themeOptions)
			classHolder.className = themeSettings.themeOptions;

		if (themeSettings.themeURL && !document.getElementById('mytheme')) {
			var cssfile = document.createElement('link');
			cssfile.id = 'mytheme';
			cssfile.rel = 'stylesheet';
			cssfile.href = themeURL;
			document.getElementsByTagName('head')[0].appendChild(cssfile);

		}
		else if (themeSettings.themeURL && document.getElementById('mytheme')) {
			document.getElementById('mytheme').href = themeSettings.themeURL;
		}

		var saveSettings = function () {
			themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function (item) {
				return /^(nav|header|footer|mod|display)-/i.test(item);
			}).join(' ');
			if (document.getElementById('mytheme')) {
				themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
			};
			localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
		}

        var resetSettings = function () {
            localStorage.setItem("themeSettings", "");
        }
    </script>
    <div style="width: 0 !important; height: 0 !important; opacity: 0 !important; overflow: hidden !important;">
        <input id="txtValidacaoAutocompleteGoogleChrome11" type="email">
        <input id="txtValidacaoAutocompleteGoogleChrome22" type="text">
        <input id="txtValidacaoAutocompleteGoogleChrome33" type="password">
    </div>
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner">
            <!-- BEGIN Left Aside -->
            <aside id="left-panel" class="page-sidebar">
				<div class="page-logo" >
					<div class="d-flex align-items-center position-relative" >
                        @if (!string.IsNullOrEmpty(ViewBag.LogoTerceiroDark) || !string.IsNullOrEmpty(ViewBag.LogoTerceiroLight))
                        {
                            <span class="page-logo-text ms-1">
                                <img src="@ViewBag.LogoTerceiroDark" class="light" alt="@ViewBag.Titulo" style="width: 140px !important; height: 100px !important;" />
                                <img src="@ViewBag.LogoTerceiroLight" alt="@ViewBag.Titulo" style="width: 140px !important; height: 100px !important;" />
							</span>
						}
						else
						{

							@if (ViewBag.AmbienteKMM)
							{
								<span class="page-logo-text ms-6">
									<img src="@ViewBag.LogoDark" alt="@ViewBag.Titulo" style="width: 108px !important; height: 50px !important; " />
									<img src="@ViewBag.LogoLight" class="light" alt="@ViewBag.Titulo" style="width: 108px !important; height: 50px !important; " />
								</span>
							}
							else
							{
								<span class="page-logo-text ms-1">
									<img src="@ViewBag.LogoDark" alt="@ViewBag.Titulo" />
									<img src="@ViewBag.LogoLight" class="light" alt="@ViewBag.Titulo" />
								</span>
							}
                        }

					</div>
				</div>
				<!-- BEGIN PRIMARY NAVIGATION -->

				<nav id="js-primary-nav" class="primary-nav" role="navigation">
					@if (!string.IsNullOrWhiteSpace(ViewBag.LogoCliente))
					{
						<div class="info-card">
							<img src="@ViewBag.LogoCliente" alt="">
							<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
								<i class="fal fa-angle-down"></i>
							</a>
						</div>
					}
					<ul id="js-nav-menu" class="nav-menu">
						@Html.Raw(ViewBag.Menu)
					</ul>
				</nav>

                <!-- END PRIMARY NAVIGATION -->
            </aside>
            <!-- END Left Aside -->
            <div class="@Html.Raw(ViewBag.ClasseCorBotoes) page-content-wrapper">
                <!-- BEGIN Page Header -->
                <header id="header" class="page-header" role="banner">
                    @if (string.IsNullOrWhiteSpace(ViewBag.ClasseCorBotoes))
                    {
                        <div class="page-logo">
                            @if (!string.IsNullOrEmpty(ViewBag.LogoTerceiroDark) || !string.IsNullOrEmpty(ViewBag.LogoTerceiroLight))
                            {
                                <span class="page-logo-text ms-1">
                                    <img src="@ViewBag.LogoTerceiroDark" alt="@ViewBag.Titulo" />
                                    <img src="@ViewBag.LogoTerceiroLight" class="light" alt="@ViewBag.Titulo" />
                                </span>
                            }
                            else
                            {
                                <span class="page-logo-text ms-1">
                                    <img src="@ViewBag.LogoDark" alt="@ViewBag.Titulo" />
                                    <img src="@ViewBag.LogoLight" class="light" alt="@ViewBag.Titulo" />
                                </span>
                            }
                        </div>
                    }
                    <!-- DOC: nav menu layout change shortcut -->
                    <div class="hidden-lg-down dropdown-icon-menu position-relative">
                        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" data-bs-toggle="tooltip" data-bs-placement="right" title="@Localization.Resources.MasterLayout.MasterLayout.EsconderNavegacao" aria-label="@Localization.Resources.MasterLayout.MasterLayout.EsconderNavegacao">
                            <i class="ni ni-menu"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" data-bs-toggle="tooltip" data-bs-placement="right" title="@Localization.Resources.MasterLayout.MasterLayout.MinimizarNavegacao" aria-label="@Localization.Resources.MasterLayout.MasterLayout.MinimizarNavegacao">
                                    <i class="ni ni-minify-nav"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" data-bs-toggle="tooltip" data-bs-placement="right" title="@Localization.Resources.MasterLayout.MasterLayout.TravarRolagemDaNavegacao" aria-label="@Localization.Resources.MasterLayout.MasterLayout.TravarRolagemDaNavegacao">
                                    <i class="ni ni-lock-nav"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- DOC: mobile button appears during mobile width -->
                    <div class="hidden-lg-up">
                        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
                            <i class="ni ni-menu"></i>
                        </a>
                    </div>
                    <div class="search">
                        <form class="app-forms d-none d-sm-flex" role="search" action="">
                            <input id="search-pages" name="search" type="search" class="form-control" placeholder="@Localization.Resources.MasterLayout.MasterLayout.PesquisarUmFormulario" aria-label="@Localization.Resources.MasterLayout.MasterLayout.PesquisarUmFormulario" autocomplete="off" style="color: var(--theme-primary-400);" />
                        </form>
                    </div>
                    <div class="ml-auto d-flex">
                        <!-- activate app search icon (mobile) -->
                        <div class="hidden-sm-up">
                            <a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Search">
                                <i class="fal fa-search"></i>
                            </a>
                        </div>
                        <div id="knoutFormulariosFavoritosUsuario">
                            <button data-bind="visible: Formularios().length > 0" class="header-icon" data-bs-toggle="dropdown" data-bs-auto-close="true" title="@Localization.Resources.MasterLayout.MasterLayout.Notificacoes" aria-label="@Localization.Resources.MasterLayout.MasterLayout.Favoritos" aria-expanded="false">
                                <i class="fal fa-star"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
                                <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top">
                                    <h4 class="m-0 text-center color-white">
                                        @Localization.Resources.MasterLayout.MasterLayout.Favoritos
                                    </h4>
                                </div>
                                <div class="custom-scrollbar notification-box">
                                    <ul class="app-list" data-bind="foreach: Formularios">
                                        <li>
                                            <a class="app-list-item hover-white dropdown-item p-0 mb-0 h-auto" data-bind="attr: {href: '#' + Caminho, title: Descricao}">
                                                <span class="icon-stack">
                                                    <i class="base-4 icon-stack-3x color-fusion-400 opacity-80"></i>
                                                    <i class="base-4 icon-stack-2x color-fusion-700 opacity-30"></i>
                                                    <i data-bind="css: 'fal icon-stack-1x text-white ' + (Icone || 'fa-window')"></i>
                                                </span>
                                                <span class="app-list-name" data-bind="text: Descricao"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="knoutCentralProcessamento">
                            <button class="header-icon" data-bs-toggle="dropdown" data-bs-auto-close="outside" title="@Localization.Resources.MasterLayout.MasterLayout.ProcessamentosPendentes" aria-label="@Localization.Resources.MasterLayout.MasterLayout.ProcessamentosPendentes" aria-expanded="false" data-bind="click: NadaParaProcessar.eventClick">
                                <i class="fal fa-paste"></i>
                                <span class="badge badge-icon" data-bind="text: Processamentos().length"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
                                <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top">
                                    <h4 class="m-0 text-center color-white">
                                        @Localization.Resources.MasterLayout.MasterLayout.ProcessamentosPendentes
                                    </h4>
                                </div>
                                <div class="custom-scrollbar notification-box">
                                    <!-- ko if: Processamentos().length == 0 -->
                                    <ul class="procedures">
                                        <li class="d-flex align-items-center">
                                            <span class="name">@Localization.Resources.MasterLayout.MasterLayout.NenhumProcessamentoPendente</span>
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                    <!-- ko if: Processamentos().length > 0 -->
                                    <ul class="procedures" data-bind="foreach: Processamentos">
                                        <li class="d-flex align-items-center">
                                            <span class="d-flex flex-column pe-3">
                                                <span class="spinner-border txt-color-grayDark"></span>
                                            </span>
                                            <span class="d-flex flex-column flex-1">
                                                <span class="name" data-bind="text: Titulo.val"></span>
                                                <span class="msg-a fs-sm" data-bind="text: Descricao.val"></span>
                                            </span>
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <div id="knoutNotificacaoGlobal">
                            <button class="header-icon" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bind="click: NaoVistas.eventClick, visible: Total.visible" title="@Localization.Resources.MasterLayout.MasterLayout.Notificacoes" aria-label="@Localization.Resources.MasterLayout.MasterLayout.Notificacoes" aria-expanded="false">
                                <i class="fal fa-bell"></i>
                                <span class="badge badge-icon" data-bind="text: NaoVistas.val"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
                                <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top">
                                    <h4 class="m-0 text-center color-white">
                                        @Localization.Resources.MasterLayout.MasterLayout.Notificacoes
                                    </h4>
                                </div>
                                <div class="custom-scrollbar notification-box" data-bind="attr: {id : Total.id}, event: { scroll: Total.eventChange }">
                                    <ul class="notification" data-bind="foreach: Notificacoes">
                                        <li class="unread" data-bind="attr: {class: ReadClass.val()  }, click: URLPagina.eventClick">
                                            <div class="d-flex align-items-center">
                                                <span class="d-flex flex-column pe-3">
                                                    <span data-bind="attr: { class: 'd-inline-block fal ' + Icone.val() + ' fa-3x' }"></span>
                                                </span>
                                                <span class="d-flex flex-column flex-1">
                                                    <span class="msg-a fs-sm" data-bind="text: Nota.val"></span>
                                                    <span class="fs-nano text-muted mt-1" data-bind="text: DataNotificacao.val"></span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="py-2 px-3 bg-faded d-block rounded-bottom text-center border-faded border-bottom-0 border-right-0 border-left-0">
                                    <a href="#" class="fs-xs fw-500 ml-auto" data-bind="click: VerTodasNotificacoes.eventClick">@Localization.Resources.MasterLayout.MasterLayout.VerTodasAsNotificacoes</a>
                                </div>
                            </div>
                        </div>
                        <div id="chat-container">
                            <button class="header-icon" title="Chat" aria-label="Chat" aria-expanded="false" onclick="openWhatsApp()">
								<i class="fab fa-whatsapp"></i>
                            </button>
                            <div id="knoutChatGlobal" style="display: none;"></div>
                        </div>
                        <button class="header-icon" title="@Localization.Resources.MasterLayout.MasterLayout.Auditar" id="divAuditoriaGlobal" style="display: none;">
                            <i class="fal fa-eye"></i>
                        </button>
                        <div>
                            <a href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" class="header-icon d-flex align-items-center justify-content-center ml-2" aria-expanded="false">
                                @if (!string.IsNullOrWhiteSpace(ViewBag.FotoUsuario))
                                {
                                    <img src="data:image/png;base64,@ViewBag.FotoUsuario" class="rounded-circle profile-image" alt="@Html.Raw(ViewBag.NomeUsuario)" />
                                }
                                else
                                {
                                    <i class="fal fa-user" aria-hidden="true"></i>
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                                <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                                    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                                        <div class="me-2">
                                            @if (!string.IsNullOrWhiteSpace(ViewBag.FotoUsuario))
                                            {
                                                <img src="data:image/png;base64,@ViewBag.FotoUsuario" class="rounded-circle profile-image" alt="@Html.Raw(ViewBag.NomeUsuario)" />
                                            }
                                            else
                                            {
                                                <i class="fal fa-user" aria-hidden="true"></i>
                                            }
                                        </div>
                                        <div class="info-card-text">
                                            <div class="fs-lg text-truncate text-truncate-lg">@ViewBag.NomeUsuario</div>
                                            <!-- ko if: @ViewBag.LocalidadeEmpresa != '' -->
                                            <div class="fs-nano text-truncate text-truncate-lg">@Html.Raw(ViewBag.LocalidadeEmpresa)</div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                @if (string.IsNullOrWhiteSpace(ViewBag.ClasseCorBotoes))
                                {
                                    <a href="#" class="dropdown-item" data-action="app-reset">
                                        <i class="fal fa-undo-alt"></i>
                                        <span data-i18n="drpdwn.reset_layout">@Localization.Resources.MasterLayout.MasterLayout.ResetarLayout</span>
                                    </a>
                                    <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".js-modal-settings">
                                        <i class="fal fa-cog"></i>
                                        <span data-i18n="drpdwn.settings">@Localization.Resources.MasterLayout.MasterLayout.Configuracoes</span>
                                    </a>
                                }
                                <div class="dropdown-divider m-0"></div>
                                <a href="#" class="dropdown-item" data-action="app-fullscreen">
                                    <i class="fal fa-expand-arrows-alt"></i>
                                    <span data-i18n="drpdwn.fullscreen">@Localization.Resources.MasterLayout.MasterLayout.TelaCheia</span>
                                    <i class="float-right text-muted fw-n">F11</i>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                <a href="#Pessoas/AlterarSenha" id="show-shorcutadeu" class="dropdown-item">
                                    <i class="fal fa-lock-alt"></i>
                                    <span>@Localization.Resources.MasterLayout.MasterLayout.AlterarSenha</span>
                                </a>
                                <a href="Login" class="dropdown-item fw-500 pt-3 pb-3">
                                    <i class="fal fa-sign-out"></i>
                                    <span data-i18n="drpdwn.page-logout">@Localization.Resources.MasterLayout.MasterLayout.SairDoSistema</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END Page Header -->
                <!-- BEGIN Page Content -->
                <!-- the #js-page-content id is needed for some plugins to initialize -->

                @if (!string.IsNullOrWhiteSpace(ViewBag.ClasseCorBotoes))
                {
                    <div class="div-pre-box">
                        <div class="row box-bem-vindo" style="display: none">
                            <div class="col col-12">
								<img src="../img/Logos/logos-oficiaisV2.png" alt="SaintGobain" class="" style="height: 80px; width: 200px" /><br />
                                <span><a href="#/Pessoas/AlterarSenha" style="color: #000000">@Html.Raw(ViewBag.NomeUsuario)</a></span>@Localization.Resources.MasterLayout.MasterLayout.BemVindoAoPortal
                            </div>
                        </div>
                    </div>
                }
                <main id="js-page-content" class="page-content" role="main">
                    <!--<div id="ribbon" style="display:none">
                    <span class="ribbon-button-alignment" style="display:none">
                        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>
                    </span>-->
                    <!-- breadcrumb -->
                    <!--<ol class="breadcrumb" style="display:none">-->
                    <!-- This is auto generated -->
                    <!--</ol>

					</div>
					<div class="div-pre-box">
						<div class="row box-bem-vindo" style="display: none">
							<section class="col col-lg-12">
								<img src="../img/Logos/logos-oficiaisV2.png" alt="Quartzolit" class="" /><br />
								<span><a href="#/Pessoas/AlterarSenha" style="color: #000000">@Html.Raw(ViewBag.NomeUsuario)</a></span>, bem vindo (a) ao Portal de Agendamentos
							</section>
						</div>
					</div>
					<div id="content">

					</div>-->
					<!-- CHAT CONTAINER -->

				</main>



                @*<div id="chat-container" class="d-none;" style="width: 0px; right: 1px;">
                        <div id="knoutChatGlobal" style="display: none;">
                            <div class="chat-list-body">
                                <ul id="chat-users">
                                </ul>
                            </div>
                            <div class="chat-list-footer">
                                <div class="control-group">
                                    <form class="smart-form">
                                        <section>
                                            <label class="input">
                                                <input type="text" id="filter-chat-list" placeholder="Filtro">
                                            </label>
                                        </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- this overlay is activated only when mobile menu is triggered -->
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
                <!-- BEGIN Page Footer -->
                <footer class="page-footer d-flex justify-content-between" role="contentinfo">
                    <div class="text-muted">@Localization.Resources.MasterLayout.MasterLayout.Versao @Html.Raw(ViewBag.Versao)</div>
                    <span class="text-muted">@Localization.Resources.MasterLayout.MasterLayout.UltimaAtualizacao @Html.Raw(ViewBag.UltimaAtualizacao)</span>
                    @if (!ViewBag.AmbienteMultiNFe)
                    {
						<div class="text-muted">@Html.Raw(ViewBag.AnoCorrente) © @Html.Raw(ViewBag.DadosEmpresaPai) @Html.Raw(ViewBag.Copyright) by <a href='https://www.nstech.com.br/' style="color:orange" title='nstech.com.br' target='_blank'>nstech</a></div>
                    }
                    @if (ViewBag.AmbienteMultiNFe)
                    {
                        <div class="text-muted">@Html.Raw(ViewBag.AnoCorrente) © @Html.Raw(ViewBag.DadosEmpresaPai) ComNFe by <a href='http://www.commerce.inf.br' style="color:green" title='commerce.inf.br' target='_blank'>Commerce Sistemas</a></div>
                    }
                    <div class="text-muted">
                        <a onclick="buscarAjuda(15376)" class="me-2" href="javascript:void(0);">@Localization.Resources.MasterLayout.MasterLayout.PoliticaDePrivacidade</a>
                        <a href="mailto:@Html.Raw(ViewBag.EmailDPO)">@Html.Raw(ViewBag.EmailDPO)</a>
                    </div>
                </footer>
                <!-- END Page Footer -->
                <div class="modal fade" id="divModalDetalhesAuditoria" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document" id="knoutModalDetalhesAuditoria">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" data-bind="text: DetalhesAuditoria.text"></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table width="100%" class="table table-bordered table-hover" id="tableModalDetalheAuditoria"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="divModalAuditoria" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document" id="knoutModalAuditoria">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" data-bind="text: Auditoria.text"></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table width="100%" class="table table-bordered table-hover" id="tableModalAuditoria"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="divModalUserHelp" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" id="btnVoltarAjuda" onclick="voltarAjudaClick()"><i class="fal fa-arrow-left"></i></button>
                                <h4 class="modal-title" id="TituloAjuda"></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body" id="body-ajuda">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" id="tabAjudaInfo">
                                        <a href="#tab-r1-ajuda" class="nav-link active" data-bs-toggle="tab">
                                            @Localization.Resources.MasterLayout.MasterLayout.Ajuda
                                        </a>
                                    </li>
                                    <li class="nav-item" id="tabVideoAjuda">
                                        <a href="#tab-r2-ajuda" class="nav-link" data-bs-toggle="tab">
                                            <span class="hidden-mobile hidden-tablet">@Localization.Resources.MasterLayout.MasterLayout.Video</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liTabDicas">
                                        <a href="#tabDicas" class="nav-link" data-bs-toggle="tab">
                                            Dicas
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tab-r1-ajuda" role="tabpanel">
                                        <p id="contentInformacaoAjuda" style="height:500px; overflow-y:scroll">
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-r2-ajuda" role="tabpanel">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" id="iFrameVideoAjuda" src="" style="width:100%; height:480px; border:none;"></iframe>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabDicas" role="tabpanel">
                                        <div id="knockoutPesquisaDica">
                                            <div class="row">
                                                <div class="d-flex justify-content-end my-3">
                                                    <button class="btn btn-success" type="button" data-bind="visible: NovaDica.visible, click: NovaDica.eventClick, attr: { id: NovaDica.id}">
                                                        <i class="fal fa-plus"></i><span data-bind="text: NovaDica.text"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="divModalDica" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="tituloModalDica"></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body" id="modalCadastroDica">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" id="liTabDicaCadastro">
                                        <a href="#tabDicaCadastro" class="nav-link active" data-bs-toggle="tab">
                                            Dica
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liTabDicaVideo">
                                        <a href="#tabDicaVideo" class="nav-link" data-bs-toggle="tab">
                                            Vídeo
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liTabDicaAnexos">
                                        <a href="#tabDicaAnexos" class="nav-link" data-bs-toggle="tab">
                                            Anexos
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3">
                                    <div class="tab-pane fade active show" id="tabDicaCadastro" role="tabpanel">
                                        <div id="knockoutDica">
                                            <div class="row">
                                                <div class="col-12 col-md-12" data-bind="visible: Titulo.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: Titulo.text"></label>
                                                        <input type="text" class="form-control" data-bind="enable: Titulo.enable, class: Titulo.requiredClass, value: Titulo.val, valueUpdate: 'afterkeydown', attr: { maxlength: Titulo.maxlength, id : Titulo.id}" />
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label class="form-label" style="margin: 10px 0 -4px 0"><b data-bind="text: Descricao.text"></b></label>
                                                    <div id="descricaoDica"></div>
                                                </div>
                                                <div class="col-12 col-md-12" data-bind="visible: LinkVideo.visible">
                                                    <div class="form-group">
                                                        <label class="form-label" data-bind="text: LinkVideo.text"></label>
                                                        <input type="text" class="form-control" data-bind="enable: LinkVideo.enable, class: LinkVideo.requiredClass, value: LinkVideo.val, valueUpdate: 'afterkeydown', attr: { maxlength: LinkVideo.maxlength, id : LinkVideo.id}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabDicaVideo" role="tabpanel">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" id="iFrameVideoDica" src="" style="width:100%; height:480px; border:none;"></iframe>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabDicaAnexos" role="tabpanel">
                                        <div class="row" id="knockoutDicaListaAnexos">
                                            <div class="col-6 mb-3">
                                                <button class="btn btn-primary waves-effect waves-themed" data-bind="visible: Adicionar.visible, click: Adicionar.eventClick, attr: { id: Adicionar.id}" type="button">
                                                    <i class="fal fa-plus"></i>
                                                    <span data-bind="text: Adicionar.text"></span>
                                                </button>
                                            </div>
                                            <table width="100%" class="table table-bordered table-hover margin-top-0" data-bind="attr: { id: Anexos.idGrid }" cellspacing="0"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" id="knockoutCRUDDica">
                                <button type="button" class="btn btn-labeled btn-secondary mx-1" data-loading-text="Aguarde..." data-bind="click: Fechar.eventClick, visible: Fechar.visible, attr: { id : Fechar.id}">
                                    <span data-bind="text: Fechar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-danger mx-1" data-loading-text="Aguarde..." data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                                    <span data-bind="text: Excluir.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success mx-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                    <span data-bind="text: Adicionar.text"></span>
                                </button>
                                <button type="button" class="btn btn-labeled btn-success mx-1" data-loading-text="Aguarde..." data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                                    <span data-bind="text: Atualizar.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="divModalDicaAnexo" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Adicionar Anexo</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <i class="fal fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body" id="knockoutDicaAnexo">
                                <div class="row">
                                    <div class="form-group col-12 col-md-6" data-bind="visible: Arquivo.visible">
                                        <label class="form-label" data-bind="text: Arquivo.text"></label>
                                        <div class="custom-file" data-bind="visible: Arquivo.visible">
                                            <input type="file" class="custom-file-input" data-bind="value: Arquivo.val, attr: { id: Arquivo.id }" readonly>
                                            <label data-bind="text: NomeArquivo.val, attr: { for: Arquivo.id }" class="custom-file-label"></label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" data-bind="visible: Descricao.visible">
                                        <div class="form-group">
                                            <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                            <input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-labeled btn-success mx-1" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                                        <span data-bind="text: Adicionar.text"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-modelo-grid" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content" id="knockoutModeloGrid">
                            <div class="modal-header">
                                <h4 class="modal-title">Gerenciar Modelos</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <i class="fal fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="d-flex justify-content-end mb-3">
                                        <button class="btn btn-success ms-3" type="button" data-bind="click: Adicionar.eventClick, attr: { id: Adicionar.id}">
                                            <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridModelos.id}" cellspacing="0"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary ms-3" data-bs-dismiss="modal">Fechar</button>
                                <button class="btn btn-primary ms-3" type="button" data-bind="click: AplicarPreferenciaUsuario.eventClick, visible: AplicarPreferenciaUsuario.visible, attr: { id: AplicarPreferenciaUsuario.id}">
                                    <span data-bind="text: AplicarPreferenciaUsuario.text"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="modal fade" id="modal-modelo-grid-adicionar" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content" id="knockoutModeloGridAdicionar">
							<div class="modal-header">
								<h4 class="modal-title">Novo Modelo</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal">
									<i class="fal fa-times"></i>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
										<div class="form-group">
											<label class="form-label" data-bind="text: Descricao.text"></label>
											<input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
										</div>
									</div>
									<div class="col-12 col-md-12" data-bind="visible: ModeloPadrao.visible">
										<div class="form-group">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" data-bind="checked: ModeloPadrao.val, attr: { maxlength: ModeloPadrao.maxlength, name: ModeloPadrao.id, id: ModeloPadrao.id }">
												<label class="custom-control-label" data-bind="text: ModeloPadrao.text, attr: { for: ModeloPadrao.id }"></label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="d-flex justify-content-end">
									<button type="button" class="btn btn-secondary ms-3" data-bs-dismiss="modal">Fechar</button>
									<button type="button" class="btn btn-labeled btn-success ms-3" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
										<span data-bind="text: Adicionar.text"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modal-configuracao-modelo-filtro-pesquisa" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
						<div class="modal-content" id="knockoutConfiguracaoModeloFiltroPesquisa">
							<div class="modal-header">
								<h4 class="modal-title">@Localization.Resources.MasterLayout.MasterLayout.ModelosDeFiltroDePesquisa</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal">
									<i class="fal fa-times"></i>
								</button>
							</div>
							<div class="modal-body">
								<div>
									<div class="d-flex justify-content-end mb-3">
										<button class="btn btn-success ms-3" type="button" data-bind="click: NovoModeloFiltroPesquisa.eventClick, attr: { id: NovoModeloFiltroPesquisa.id}">
											<i class="fal fa-plus"></i><span data-bind="text: NovoModeloFiltroPesquisa.text"></span>
										</button>
									</div>
									<div class="row">
										<table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: GridModelosFiltroPesquisa.id}" cellspacing="0"></table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modal-modelo-filtro-pesquisa-adicionar" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
						<div class="modal-content" id="knockoutModeloFiltroPesquisaAdicionar">
							<div class="modal-header">
								<h4 class="modal-title">@Localization.Resources.MasterLayout.MasterLayout.NovoModelo</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal">
									<i class="fal fa-times"></i>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-12 col-md-12" data-bind="visible: Descricao.visible">
										<div class="form-group">
											<label class="form-label" data-bind="text: Descricao.text"></label>
											<input type="text" class="form-control" data-bind="class: Descricao.requiredClass, value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
										</div>
									</div>
									<div class="col-12 col-md-12" data-bind="visible: ModeloExclusivoUsuario.visible">
										<div class="form-group">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" data-bind="checked: ModeloExclusivoUsuario.val, attr: { maxlength: ModeloExclusivoUsuario.maxlength, name: ModeloExclusivoUsuario.id, id: ModeloExclusivoUsuario.id }">
												<label class="custom-control-label" data-bind="text: ModeloExclusivoUsuario.text, attr: { for: ModeloExclusivoUsuario.id }"></label>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12" data-bind="visible: ModeloPadrao.visible">
										<div class="form-group">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" data-bind="checked: ModeloPadrao.val, attr: { maxlength: ModeloPadrao.maxlength, name: ModeloPadrao.id, id: ModeloPadrao.id }">
												<label class="custom-control-label" data-bind="text: ModeloPadrao.text, attr: { for: ModeloPadrao.id }"></label>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12" data-bind="visible: AvancarDatasAutomaticamente.visible">
										<div class="form-group">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" data-bind="checked: AvancarDatasAutomaticamente.val, attr: { maxlength: AvancarDatasAutomaticamente.maxlength, name: AvancarDatasAutomaticamente.id, id: AvancarDatasAutomaticamente.id }">
												<label class="custom-control-label" data-bind="text: AvancarDatasAutomaticamente.text, attr: { for: AvancarDatasAutomaticamente.id }"></label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="d-flex justify-content-end">
									<button type="button" class="btn btn-secondary ms-3" data-bs-dismiss="modal">Fechar</button>
									<button type="button" class="btn btn-labeled btn-success ms-3" data-loading-text="Aguarde..." data-bind="click: AdicionarModeloFiltroPesquisa.eventClick, visible: AdicionarModeloFiltroPesquisa.visible, attr: { id : AdicionarModeloFiltroPesquisa.id}">
										<span data-bind="text: AdicionarModeloFiltroPesquisa.text"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p id="js-color-profile" class="d-none">
					<span class="color-primary-50"></span>
					<span class="color-primary-100"></span>
					<span class="color-primary-200"></span>
					<span class="color-primary-300"></span>
					<span class="color-primary-400"></span>
					<span class="color-primary-500"></span>
					<span class="color-primary-600"></span>
					<span class="color-primary-700"></span>
					<span class="color-primary-800"></span>
					<span class="color-primary-900"></span>
					<span class="color-info-50"></span>
					<span class="color-info-100"></span>
					<span class="color-info-200"></span>
					<span class="color-info-300"></span>
					<span class="color-info-400"></span>
					<span class="color-info-500"></span>
					<span class="color-info-600"></span>
					<span class="color-info-700"></span>
					<span class="color-info-800"></span>
					<span class="color-info-900"></span>
					<span class="color-danger-50"></span>
					<span class="color-danger-100"></span>
					<span class="color-danger-200"></span>
					<span class="color-danger-300"></span>
					<span class="color-danger-400"></span>
					<span class="color-danger-500"></span>
					<span class="color-danger-600"></span>
					<span class="color-danger-700"></span>
					<span class="color-danger-800"></span>
					<span class="color-danger-900"></span>
					<span class="color-warning-50"></span>
					<span class="color-warning-100"></span>
					<span class="color-warning-200"></span>
					<span class="color-warning-300"></span>
					<span class="color-warning-400"></span>
					<span class="color-warning-500"></span>
					<span class="color-warning-600"></span>
					<span class="color-warning-700"></span>
					<span class="color-warning-800"></span>
					<span class="color-warning-900"></span>
					<span class="color-success-50"></span>
					<span class="color-success-100"></span>
					<span class="color-success-200"></span>
					<span class="color-success-300"></span>
					<span class="color-success-400"></span>
					<span class="color-success-500"></span>
					<span class="color-success-600"></span>
					<span class="color-success-700"></span>
					<span class="color-success-800"></span>
					<span class="color-success-900"></span>
					<span class="color-fusion-50"></span>
					<span class="color-fusion-100"></span>
					<span class="color-fusion-200"></span>
					<span class="color-fusion-300"></span>
					<span class="color-fusion-400"></span>
					<span class="color-fusion-500"></span>
					<span class="color-fusion-600"></span>
					<span class="color-fusion-700"></span>
					<span class="color-fusion-800"></span>
					<span class="color-fusion-900"></span>
				</p>
			</div>
		</div>
	</div>
	<!-- END Page Wrapper -->
	<!-- BEGIN Page Settings -->
	<div class="modal fade js-modal-settings modal-backdrop-transparent" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-right modal-md">
			<div class="modal-content">
				<div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center w-100">
					<h4 class="m-0 text-center color-white">
						@Localization.Resources.MasterLayout.MasterLayout.ConfiguracoesDeLayout
						<small class="mb-0 opacity-80">@Localization.Resources.MasterLayout.MasterLayout.ConfiguracoesDeInterfaceDeUsuario</small>
					</h4>
					<button type="button" class="btn-close text-white position-absolute pos-top pos-right p-2 m-1 mr-2" data-bs-dismiss="modal" aria-label="@Localization.Resources.MasterLayout.MasterLayout.FecharConfiguracoes">
						<i class="fal fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="modal-body p-0">
					<div class="settings-panel">
						<div class="mt-4 d-table w-100 px-5">
							<div class="d-table-cell align-middle">
								<h5 class="p-0">Layout</h5>
							</div>
						</div>
						<div class="list" id="fh">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="header-function-fixed"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.CabecalhoFixo</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.CabecalhoFixoOTempoTodo</span>
						</div>
						<div class="list" id="nff">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-function-fixed"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.TravarRolagemDaNavegacao</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.FixaANavegacaoNoPainelLateral</span>
						</div>
						<div class="list" id="nfm">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-function-minify"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.MinimizarNavegacao</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.MinimizaANavegacaoParaMaximizarOEspacoDoConteudo</span>
						</div>
						<div class="list" id="nfh">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-function-hidden"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.EsconderNavegacao</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.PasseOMousePelaLateralEsquerdaParaRevelar</span>
						</div>
						<div class="list" id="nft">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-function-top"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.NavegacaoNoTopo</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.RealocarOPainelLateralNoTopo</span>
						</div>
						<div class="list" id="mmb">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-main-boxed"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.LayoutEmCaixa</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.EncapsulaOConteudoDentroDeUmContainer</span>
						</div>
						<div class="expanded">
							<ul class="">
								<li>
									<div class="bg-fusion-50" data-action="toggle" data-class="mod-bg-1"></div>
								</li>
								<li>
									<div class="bg-warning-200" data-action="toggle" data-class="mod-bg-2"></div>
								</li>
								<li>
									<div class="bg-primary-200" data-action="toggle" data-class="mod-bg-3"></div>
								</li>
								<li>
									<div class="bg-success-300" data-action="toggle" data-class="mod-bg-4"></div>
								</li>
							</ul>
							<div class="list" id="mbgf">
								<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-fixed-bg"></a>
								<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.FundoFixo</span>
							</div>
						</div>
						@*
						<div class="mt-4 d-table w-100 px-5">
						<div class="d-table-cell align-middle">
						<h5 class="p-0">
						Mobile
						</h5>
						</div>
						</div>
						<div class="list" id="nmp">
						<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-mobile-push"></a>
						<span class="onoffswitch-title">Push Conteúdo</span>
						<span class="onoffswitch-title-desc">Push o conteúdo do menu</span>
						</div>
						<div class="list" id="nmno">
						<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-mobile-no-overlay"></a>
						<span class="onoffswitch-title">Sem Overlay</span>
						<span class="onoffswitch-title-desc">Remove o overlay do menu aberto</span>
						</div>
						<div class="list" id="sldo">
						<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="nav-mobile-slide-out"></a>
						<span class="onoffswitch-title">Off-Canvas <sup>(beta)</sup></span>
						<span class="onoffswitch-title-desc">Conteúdo sobrepõe o menu</span>
						</div>
						*@
						<div class="mt-4 d-table w-100 px-5">
							<div class="d-table-cell align-middle">
								<h5 class="p-0">
									@Localization.Resources.MasterLayout.MasterLayout.Acessibilidade
								</h5>
							</div>
						</div>
						<div class="list" id="mbf">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-bigger-font"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.FonteDoConteudoMaior</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.FontesDoConteudoSaoMaioresParaMelhorLeitura</span>
						</div>
						<div class="list" id="mhc">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-high-contrast"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.TextoEmAltoContraste</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.TaxaDeContrasteDoTexto</span>
						</div>
						<div class="list" id="mcb">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-color-blind"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.Daltonismo</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.DeficienciaNaVisualizacaoDeCores</span>
						</div>
						@*<div class="list" id="mpc">
						<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-pace-custom"></a>
						<span class="onoffswitch-title">Preloader Dentro</span>
						<span class="onoffswitch-title-desc">preloaders dentro do conteúdo</span>
						</div>*@
						<div class="mt-4 d-table w-100 px-5">
							<div class="d-table-cell align-middle">
								<h5 class="p-0">
									@Localization.Resources.MasterLayout.MasterLayout.ModificacoesGlobais
								</h5>
							</div>
						</div>
						<div class="list" id="mcbg">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-clean-page-bg"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.FundoClaro</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.AdicionaMaisEspacoEmBranco</span>
						</div>
						<div class="list" id="mhni">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-hide-nav-icons"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.EsconderIconesDaNavegacao</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.TornarIconesDaNavegacaoInvisiveis</span>
						</div>
						@*<div class="list" id="dan">
						<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-disable-animation"></a>
						<span class="onoffswitch-title">Desativar Animações CSS</span>
						<span class="onoffswitch-title-desc">Desabilita animações baseadas em CSS</span>
						</div>*@
						<div class="list" id="mhic" style="display:none;">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-hide-info-card"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.EsconderCartaoDeInformacoes</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.EscondeOCartaoDeInformacoesDoPainelLateral</span>
						</div>
						<div class="list" id="mlph" style="display:none;">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-lean-subheader"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.SubcabecalhoEnxuto</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.CabecalhoDePaginaDistinto</span>
						</div>
						<div class="list" id="mnl">
							<a href="#" onclick="return false;" class="btn btn-switch" data-action="toggle" data-class="mod-nav-link"></a>
							<span class="onoffswitch-title">@Localization.Resources.MasterLayout.MasterLayout.NavegacaoHierarquica</span>
							<span class="onoffswitch-title-desc">@Localization.Resources.MasterLayout.MasterLayout.QuebrasMaisClarasNosLinksDeNavegacao</span>
						</div>
						@*
						<div class="list mt-1">
						<span class="onoffswitch-title">Tamanho Global da Fonte <small>(RESETA AO ATUALIZAR)</small> </span>
						<div class="btn-group btn-group-sm btn-group-toggle my-2" data-toggle="buttons">
						<label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-sm" data-target="html">
						<input type="radio" name="changeFrontSize"> P
						</label>
						<label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text" data-target="html">
						<input type="radio" name="changeFrontSize" checked=""> M
						</label>
						<label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-lg" data-target="html">
						<input type="radio" name="changeFrontSize"> G
						</label>
						<label class="btn btn-default btn-sm" data-action="toggle-swap" data-class="root-text-xl" data-target="html">
						<input type="radio" name="changeFrontSize"> XG
						</label>
						</div>
						<span class="onoffswitch-title-desc d-block mb-0">
						Atualiza o tamanho da fonte global
						</span>
						</div>
						<hr class="mb-0 mt-4">
						<div class="mt-2 d-table w-100 pl-5 pr-3">
						<div class="fs-xs text-muted p-2 alert alert-warning mt-3 mb-2">
						<i class="fal fa-exclamation-triangle text-warning mr-2"></i>The settings below uses localStorage to load
						the external CSS file as an overlap to the base css. Due to network latency and CPU utilization, you may
						experience a brief flickering effect on page load which may show the intial applied theme for a split
						second. Setting the prefered style/theme in the header will prevent this from happening.
						</div>
						</div>*@
						<div class="mt-4 d-table w-100 pl-5 pr-3" style="padding-left:2rem;padding-right:1rem;">
							<div class="d-table-cell align-middle">
								<h5 class="p-0">
									@Localization.Resources.MasterLayout.MasterLayout.Temas
								</h5>
							</div>
						</div>
						<div class="expanded theme-colors pl-5 pr-3" style="padding-left:2rem;padding-right:1rem;">
							<ul class="m-0">
								@*<li>
								<a href="#" id="myapp-0" data-action="theme-update" data-themesave data-theme="" data-bs-toggle="tooltip" data-bs-placement="top" title="Glicínia" data-original-title="Glicínia"></a>
								</li>
								<li>
								<a href="#" id="myapp-1" data-action="theme-update" data-themesave data-theme="/css/customTheme1" data-bs-toggle="tooltip" data-bs-placement="top" title="Tapeçaria" data-original-title="Tapeçaria"></a>
								</li>
								<li>
								<a href="#" id="myapp-8" data-action="theme-update" data-themesave data-theme="/css/customTheme8" data-bs-toggle="tooltip" data-bs-placement="top" title="Azul Chetwode" data-original-title="Azul Chetwode"></a>
								</li>
								<li>
								<a href="#" id="myapp-9" data-action="theme-update" data-themesave data-theme="/css/customTheme9" data-bs-toggle="tooltip" data-bs-placement="top" title="Damasco" data-original-title="Damasco"></a>
								</li>
								<li>
								<a href="#" id="myapp-10" data-action="theme-update" data-themesave data-theme="/css/customTheme10" data-bs-toggle="tooltip" data-bs-placement="top" title="Fumaça Azul" data-original-title="Fumaça Azul"></a>
								</li>
								<li>
								<a href="#" id="myapp-11" data-action="theme-update" data-themesave data-theme="/css/customTheme11" data-bs-toggle="tooltip" data-bs-placement="top" title="Fumaça Verde" data-original-title="Fumaça Verde"></a>
								</li>
								<li>
								<a href="#" id="myapp-12" data-action="theme-update" data-themesave data-theme="/css/customTheme12" data-bs-toggle="tooltip" data-bs-placement="top" title="Azul Selvagem" data-original-title="Azul Selvagem"></a>
								</li>
								<li>
								<a href="#" id="myapp-13" data-action="theme-update" data-themesave data-theme="/css/customTheme13" data-bs-toggle="tooltip" data-bs-placement="top" title="Esmeralda" data-original-title="Esmeralda"></a>
								</li>

								<li>
								<a href="#" id="myapp-6" data-action="theme-update" data-themesave data-theme="/css/customTheme6" data-bs-toggle="tooltip" data-bs-placement="top" title="Oxicoco" data-original-title="Oxicoco"></a>
								</li>
								*@

								<li>
									<a href="#" id="myapp-3" data-action="theme-update" data-themesave data-theme="/css/customTheme3" data-bs-toggle="tooltip" data-bs-placement="top" title="@Localization.Resources.MasterLayout.MasterLayout.Indigo" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.Indigo"></a>
								</li>
								<li>
									<a href="#" id="myapp-4" data-action="theme-update" data-themesave data-theme="/css/customTheme4" data-bs-toggle="tooltip" data-bs-placement="top" title="@Localization.Resources.MasterLayout.MasterLayout.TrapaceiroAzul" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.TrapaceiroAzul"></a>
								</li>
								<li>
									<a href="#" id="myapp-5" data-action="theme-update" data-themesave data-theme="/css/customTheme5" data-bs-toggle="tooltip" data-bs-placement="top" title="@Localization.Resources.MasterLayout.MasterLayout.VentoDeComercio" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.VentoDeComercio"></a>
								</li>
								@*
								<li>
								<a href="#" id="myapp-2" data-action="theme-update" data-themesave data-theme="/css/customTheme2" data-bs-toggle="tooltip" data-bs-placement="top" title="Atlântida" data-original-title="Atlântida"></a>
								</li>*@
								<li>
									<a href="#" id="myapp-7" data-action="theme-update" data-themesave data-theme="/css/customTheme7" data-bs-toggle="tooltip" data-bs-placement="top" title="@Localization.Resources.MasterLayout.MasterLayout.CinzaOslo" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.CinzaOslo"></a>
								</li>

								@if (ViewBag.AmbienteMultiNFe)
								{
									<li>
										<a href="#" id="myapp-0" data-action="theme-update" data-themesave data-theme="" data-bs-toggle="tooltip" data-bs-placement="top" title="Glicínia" data-original-title="Glicínia"></a>
									</li>
									<li>
										<a href="#" id="myapp-1" data-action="theme-update" data-themesave data-theme="/css/customTheme1" data-bs-toggle="tooltip" data-bs-placement="top" title="Tapeçaria" data-original-title="Tapeçaria"></a>
									</li>
									<li>
										<a href="#" id="myapp-8" data-action="theme-update" data-themesave data-theme="/css/customTheme8" data-bs-toggle="tooltip" data-bs-placement="top" title="Azul Chetwode" data-original-title="Azul Chetwode"></a>
									</li>
									<li>
										<a href="#" id="myapp-9" data-action="theme-update" data-themesave data-theme="/css/customTheme9" data-bs-toggle="tooltip" data-bs-placement="top" title="Damasco" data-original-title="Damasco"></a>
									</li>
									<li>
										<a href="#" id="myapp-10" data-action="theme-update" data-themesave data-theme="/css/customTheme10" data-bs-toggle="tooltip" data-bs-placement="top" title="Fumaça Azul" data-original-title="Fumaça Azul"></a>
									</li>
									<li>
										<a href="#" id="myapp-11" data-action="theme-update" data-themesave data-theme="/css/customTheme11" data-bs-toggle="tooltip" data-bs-placement="top" title="Fumaça Verde" data-original-title="Fumaça Verde"></a>
									</li>
									<li>
										<a href="#" id="myapp-12" data-action="theme-update" data-themesave data-theme="/css/customTheme12" data-bs-toggle="tooltip" data-bs-placement="top" title="Azul Selvagem" data-original-title="Azul Selvagem"></a>
									</li>
									<li>
										<a href="#" id="myapp-13" data-action="theme-update" data-themesave data-theme="/css/customTheme13" data-bs-toggle="tooltip" data-bs-placement="top" title="Esmeralda" data-original-title="Esmeralda"></a>
									</li>
									<li>
										<a href="#" id="myapp-6" data-action="theme-update" data-themesave data-theme="/css/customTheme6" data-bs-toggle="tooltip" data-bs-placement="top" title="Oxicoco" data-original-title="Oxicoco"></a>
									</li>
									<li>
										<a href="#" id="myapp-2" data-action="theme-update" data-themesave data-theme="/css/customTheme2" data-bs-toggle="tooltip" data-bs-placement="top" title="Atlântida" data-original-title="Atlântida"></a>
									</li>
								}

							</ul>
						</div>
						<hr class="mb-0 mt-4">
						<div class="mt-4 d-table w-100 ps-5 pe-3">
							<div class="d-table-cell align-middle">
								<h5 class="p-0 pe-2 d-flex">
									@Localization.Resources.MasterLayout.MasterLayout.ModosDoTema
								</h5>
							</div>
						</div>
						<div class="ps-5 pe-3 py-3">
							<div class="row no-gutters">
								<div class="col-4 pr-2 text-center">
									<div id="skin-default" data-action="toggle-replace" data-replaceclass="mod-skin-light mod-skin-dark" data-class="" data-toggle="tooltip" data-placement="top" title="" class="d-flex bg-white border border-primary rounded overflow-hidden text-success js-waves-on" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.Padrao" style="height: 80px">
										<div class="bg-primary-600 bg-primary-gradient px-2 pt-0 border-right border-primary"></div>
										<div class="d-flex flex-column flex-1">
											<div class="bg-white border-bottom border-primary py-1"></div>
											<div class="bg-faded flex-1 pt-3 pb-3 px-2">
												<div class="py-3" style="background:url('img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
											</div>
										</div>
									</div>
									@Localization.Resources.MasterLayout.MasterLayout.Padrao
								</div>
								<div class="col-4 px-1 text-center">
									<div id="skin-light" data-action="toggle-replace" data-replaceclass="mod-skin-dark" data-class="mod-skin-light" data-toggle="tooltip" data-placement="top" title="" class="d-flex bg-white border border-secondary rounded overflow-hidden text-success js-waves-on" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.Claro" style="height: 80px">
										<div class="bg-white px-2 pt-0 border-right border-"></div>
										<div class="d-flex flex-column flex-1">
											<div class="bg-white border-bottom border- py-1"></div>
											<div class="bg-white flex-1 pt-3 pb-3 px-2">
												<div class="py-3" style="background:url('img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
											</div>
										</div>
									</div>
									@Localization.Resources.MasterLayout.MasterLayout.Claro
								</div>
								<div class="col-4 pl-2 text-center">
									<div id="skin-dark" data-action="toggle-replace" data-replaceclass="mod-skin-light" data-class="mod-skin-dark" data-toggle="tooltip" data-placement="top" title="" class="d-flex bg-white border border-dark rounded overflow-hidden text-success js-waves-on" data-original-title="@Localization.Resources.MasterLayout.MasterLayout.Escuro" style="height: 80px">
										<div class="bg-fusion-500 px-2 pt-0 border-right"></div>
										<div class="d-flex flex-column flex-1">
											<div class="bg-fusion-600 border-bottom py-1"></div>
											<div class="bg-fusion-300 flex-1 pt-3 pb-3 px-2">
												<div class="py-3 opacity-30" style="background:url('img/demo/s-1.png') top left no-repeat;background-size: 100%;"></div>
											</div>
										</div>
									</div>
									@Localization.Resources.MasterLayout.MasterLayout.Escuro
								</div>
							</div>
						</div>
						<hr class="mb-0 mt-4">
						<div class="pl-5 pr-3 py-3 bg-faded config-options">
							<div class="row no-gutters">
								<div class="col-6 pr-1">
									<a href="#" class="btn btn-outline-danger fw-500 btn-block" data-action="app-reset">@Localization.Resources.MasterLayout.MasterLayout.ResetarConfiguracoes</a>
								</div>
								@*<div class="col-6 pl-1">
								<a href="#" class="btn btn-danger fw-500 btn-block" data-action="factory-reset">Reset de Fábrica</a>
								</div>*@
							</div>
						</div>
					</div>
					<span id="saving"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- END Page Settings -->
	@Html.PartialAsync("/Views/MasterLayout/Modal.cshtml").Result

	<script src="/scripts/vendorsBundle"></script>
	<script src="/scripts/moment"></script>
	<script src="/scripts/jqueryTouch"></script>
	<script src="/scripts/fileDownload"></script>
	<script src="/scripts/Wizard"></script>
	<script src="/scripts/jqueryMbBrowser"></script>
	<script src="/scripts/fastClick"></script>
	<script src="/scripts/countdown"></script>
	<script src="/scripts/promise"></script>
	<script src="/scripts/globalize"></script>
	<script src="/scripts/localization"></script>
	<script src="/scripts/knockout"></script>
	<script src="/scripts/twbsPagination"></script>
	<script src="/scripts/blockUI"></script>
	<script src="/scripts/toastr"></script>
	<script src="/scripts/sweetalert2"></script>
	<script src="/scripts/popper"></script>
	<script src="/scripts/maskMoney"></script>
	<script src="/scripts/jqueryValidate"></script>
	<script src="/scripts/maskedInput"></script>
	<script src="/scripts/dataTables"></script>
	<script src="/scripts/bootstrapColorSelector"></script>
	<script src="/scripts/tempusDominus"></script>
	<script src="/scripts/bootstrapAutoComplete"></script>
	<script src="/scripts/bootstrapSelect"></script>
	<script src="/scripts/enumeradores"></script>
	<script src="/scripts/configuracaoTMS"></script>
	<script src="/scripts/consultas"></script>
	<script src="/scripts/notificacaoGlobal"></script>
	<script src="/scripts/centralProcessamentoGlobal"></script>
	<script src="/scripts/formularioFavorito"></script>
	<script src="/scripts/ajudaUsuario"></script>
	<script src="/relatorios/scripts/relatoriosGlobal"></script>
	<script src="/scripts/chatManager"></script>
	<script src="/scripts/chatUI"></script>
	<script src="/scripts/Chat"></script>
	<script src="/scripts/smartChat"></script>
	<script src="/scripts/signalR"></script>
	<script src="/scripts/signalRGlobal"></script>
	<script src="/scripts/global"></script>
	<script src="/scripts/componenteImportacao"></script>
	<script src="/scripts/appBundle"></script>
	<script src="/scripts/summernote"></script>
	<script src="/scripts/dica"></script>
	<script src="/scripts/modeloGrid"></script>
	<script src="/scripts/modeloFiltroPesquisa"></script>
	<!--[if IE 8]>
		<h1>Seu navegador não suporta este sistema. Por favor atualize seu navegador para uma versão mais recente e tente novamente.</h1>
	<![endif]-->
	<script>
		var initMap = function () { };
	</script>
	<script src="@Html.Raw(ViewBag.HTTPConnection)://maps.googleapis.com/maps/api/js?key=@Html.Raw(ViewBag.APIKeyGoogle)&libraries=places,geometry,drawing&callback=initMap" async></script>
	<script src="/scripts/makerclusterer"></script>
	<script src="/scripts/leaflet"></script>
	<script type="text/javascript">
		var _masterLayoutCarregado = false;
		var _CONFIGURACAO_TMS = @Html.Raw(ViewBag.ConfiguracaoPadrao);
		var _IDUsuario = @Html.Raw(ViewBag.IDUsuario);
		var _FormulariosFavoritos = @Html.Raw(ViewBag.FormulariosFavoritos);
		var _FormularioSomenteLeitura = false;

		$(document).ready(function () {

			LoadAuditoria();
			loadDicas();
			loadModeloGrid();
			loadConfiguracaoModeloFiltroPesquisa();

			setarConfiguracaoPadrao();

			loadSignalRhubConnections(function () {
				loadNotificacaoGlobal();
			});

			loadChatGlobal();
			loadFormulariosFavoritosUsuario();

			let sourceMenuPages = [];
			let elementSearchPages = document.getElementById("search-pages");

			ObterListaRecursivaMenu($("#js-nav-menu"), sourceMenuPages);

			let acSearchPages = new Autocomplete(elementSearchPages, {
				data: sourceMenuPages,
				maximumItems: 15,
				onSelectItem: ({ label, value }) => {
					window.location = value;
					elementSearchPages.value = "";
				}
			});

			_masterLayoutCarregado = true;
		});
	</script>
</body>
</html>