<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">Integrações</li>
    <li class="breadcrumb-item active">@Localization.Resources.Integracoes.DocumentoElectrolux.DocumentosElectrolux</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        @Localization.Resources.Integracoes.DocumentoElectrolux.DocumentosElectrolux
    </h1>
</div>
<div id="knockoutDocumentoElectrolux" class="panel">
    <div class="panel-container">
        <div class="panel-hdr">
            <h3>
                <i class="fal fa-edit"></i>
                Notfis Electrolux
            </h3>
        </div>
        <div class="panel-content">
            <form>
                <div class="row">

                    <div class="col-12 col-md-3" data-bind="visible: NumeroIdentificacaoServico.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroIdentificacaoServico.text, attr: { for: NumeroIdentificacaoServico.id }"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroIdentificacaoServico.requiredClass, value: NumeroIdentificacaoServico.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroIdentificacaoServico.maxlength, id : NumeroIdentificacaoServico.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: NumeroNotaFiscal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: NumeroNotaFiscal.text, attr: { for: NumeroNotaFiscal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: NumeroNotaFiscal.requiredClass, value: NumeroNotaFiscal.val, valueUpdate: 'afterkeydown', attr: { maxlength: NumeroNotaFiscal.maxlength, id : NumeroNotaFiscal.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4" data-bind="visible: SemCarga.visible">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: SemCarga.val, attr: { maxlength: SemCarga.maxlength, name: SemCarga.id, id: SemCarga.id }">
                                <label class="custom-control-label" data-bind="text: SemCarga.text, attr: { for: SemCarga.id }"></label>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="d-flex align-items-center justify-content-end mb-3">
                <button class="btn btn-default  waves-effect waves-themed btnPesquisarFiltroPesquisa " data-bind="click: ConsultarDocumentoElectrolux.eventClick, attr: { id: ConsultarDocumentoElectrolux.id}, visible: ConsultarDocumentoElectrolux.id" type="button">
                    <i class="fal fa-file-alt"></i><span data-bind="text: ConsultarDocumentoElectrolux.text"></span>
                </button>
                <button class="btn btn-success  waves-effect waves-themed btnPesquisarFiltroPesquisa ms-3" data-bind="click: HistoricoIntegracoes.eventClick, attr: { id: HistoricoIntegracoes.id}, visible: HistoricoIntegracoes.id" type="button">
                    <i class="fal fa-history"></i><span data-bind="text: HistoricoIntegracoes.text"></span>
                </button>
                <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa ms-3" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                    <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                </button>

            </div>
            <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
        </div>
    </div>
</div>

<div id="divConsultaDocumentoElectrolux" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localization.Resources.Integracoes.DocumentoElectrolux.Consulta</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6" data-bind="visible: Empresa.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Empresa.text, attr: { for: Empresa.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="enable: Empresa.enable,css: Empresa.requiredClass, value: Empresa.val, valueUpdate: 'afterkeydown', attr: { maxlenglabel: Empresa.maxlenglabel, id : Empresa.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-labelemed" data-bind="enable: Empresa.enable,attr: { id: Empresa.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: DataInicial.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataInicial.text, attr: { for: DataInicial.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataInicial.requiredClass, value: DataInicial.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataInicial.maxlength, id : DataInicial.id}" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3" data-bind="visible: DataFinal.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: DataFinal.text, attr: { for: DataFinal.id }"></label>
                            <input type="text" class="form-control" data-bind="class: DataFinal.requiredClass, value: DataFinal.val, valueUpdate: 'afterkeydown', attr: { maxlength: DataFinal.maxlength, id : DataFinal.id}" />
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="click: ConsultarDocumentoElectrolux.eventClick, attr: { id : ConsultarDocumentoElectrolux.id}">
                        <span data-bind="text: ConsultarDocumentoElectrolux.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divVinculoCarga" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vincular Documento de Transporte à Carga</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-12 col-md-12" data-bind="visible: Carga.visible">
                        <div class="form-group">
                            <label class="form-label" data-bind="text: Carga.text, attr: { for: Carga.id }"></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-bind="css: Carga.requiredClass, value: Carga.val, valueUpdate: 'afterkeydown', attr: { maxlength: Carga.maxlength, id : Carga.id}" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" data-bind="attr: { id: Carga.idBtnSearch}" type="button" aria-label="Buscar">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" type="button" data-bind="click: Vincular.eventClick, attr: { id : Vincular.id}">
                        <span data-bind="text: Vincular.text"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divModalHistoricoIntegracaoElectrolux" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localization.Resources.Integracoes.DocumentoElectrolux.HistoricoIntegracao</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoElectrolux"></table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracaoDocumentoElectrolux" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localization.Resources.Integracoes.DocumentoElectrolux.HistoricoRetorno</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoDocumentoElectrolux"></table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalHistoricoIntegracaoGeralElectrolux" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localization.Resources.Integracoes.DocumentoElectrolux.HistoricoRetorno</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table width="100%" class="table table-bordered table-hover" cellspacing="0" id="tblHistoricoIntegracaoGeralElectrolux"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/documentoElectrolux"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources("Integracoes.DocumentoElectrolux").then(LoadDocumentoElectrolux);
    });

</script>

