
@using System.Web.Optimization
@model AdminMultisoftware.Dominio.Entidades.Pessoas.Usuario

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Html.Raw(ViewBag.Titulo)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @System.Web.Optimization.Styles.Render("~/css/bootstrap",
                                           "~/css/fontAwesome",
                                           "~/css/plugins",
                                           "~/css/production",
                                           "~/css/skins",
                                           "~/css/bootstrap-datetimepicker",
                                           "~/css/bootstrapSelect",
                                           "~/css/yourStyle")
</head>

<body>
    <div class="container col-sm-3 col-md-3 col-lg-3 col-xl-3 ml-auto text-align-center" style="margin-top: 20px; margin-left: 37%;">
        <div class="widget-content-padding ui-widget-content">
            <h3> <strong> BEM VINDO AO ADMIN MULTISOFTWARE! </strong> </h3>
            <hr />
            @Html.AntiForgeryToken()
            <form method="post" action="@Url.Action("Index", "Login")" id="login-form">

                <div class="form-group">
                    <label class="form-label " for="Login"> <strong>Usuário</strong> </label>
                    <input id="Login" class="form-control" name="Login" placeholder="Usuário" autofocus>
                </div>

                <div class="form-group">
                    <label class="form-label" for="Senha"><strong>Senha</strong></label>
                    <input type="password" id="Senha" name="Senha" class="form-control" placeholder="Senha" autofocus>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Acessar</button>
                </div>
                <div class="margin-top-10">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </form>
        </div>
    </div>

    @Scripts.Render("~/scripts/jquery",
                    "~/scripts/jqueryUI",
                    "~/scripts/blockUI",
                    "~/scripts/jqueryTouch",
                    "~/scripts/fileDownload",
                    "~/scripts/JarvisWidget",
                    "~/scripts/appConfig",
                    "~/scripts/myAppConfig",
                    "~/scripts/bootstrap",
                    "~/scripts/jqueryValidate",
                    "~/scripts/maskedInput",
                    "~/scripts/jqueryMbBrowser",
                    "~/scripts/smartNotification",
                    "~/scripts/fastClick",
                    "~/scripts/maskMoney",
                    "~/scripts/moment",
                    "~/scripts/datetimepicker",
                    "~/scripts/globalize",
                    "~/scripts/dataTables",
                    "~/scripts/bootstrapSelect",
                    "~/scripts/knockout",
                    "~/scripts/global",
                    "~/scripts/global",
                    "~/scripts/app")
</body>
</html>
