
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item">@Localization.Resources.Produtos.GrupoProduto.Produtos</li>
    <li class="breadcrumb-item active">@Localization.Resources.Produtos.GrupoProduto.GrupoDeProduto</li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i></i> @Localization.Resources.Produtos.GrupoProduto.GrupoDeProdutos
    </h1>
</div>

<div id="knockoutPesquisaGrupoProduto">
    <div class="panel">
        <div class="panel-container">
            <div class="panel-content">
                <button class="btn btn-primary waves-effect waves-themed" data-bind="click: ExibirFiltros.eventClick, id: ExibirFiltros.id">
                    <i class="fal fa-search"></i>
                    @Localization.Resources.Produtos.GrupoProduto.PesquisarGrupoDeProdutos
                </button>

                <div class="mt-3" data-bind="id: ExibirFiltros.idFade, fadeVisible: ExibirFiltros.visibleFade">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-9" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-3" data-bind="visible : Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex align-items-center justify-content-end mb-3">
                        <button class="btn btn-primary waves-effect waves-themed btnPesquisarFiltroPesquisa" data-bind="click: Pesquisar.eventClick, attr: { id: Pesquisar.id}" type="button">
                            <i class="fal fa-search"></i><span data-bind="text: Pesquisar.text"></span>
                        </button>
                    </div>
                    <table width="100%" class="table table-bordered table-hover" data-bind="attr: { id: Pesquisar.idGrid}" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel mt-3">
    <div id="knockoutCadastroRota" class="panel-container">
        <div class="panel-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#knockoutCadastroGrupoProduto" class="nav-link active" data-bs-toggle="tab">
                        <i class="fal fa-cubes"></i><span class="hidden-mobile hidden-tablet">@Localization.Resources.Produtos.GrupoProduto.GrupoDeProduto</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#knockoutGrupoProdutoTipoCarga" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-truck"></i><span class="hidden-mobile hidden-tablet">@Localization.Resources.Gerais.Geral.TipoCarga</span>
                    </a>
                </li>
                <li class="nav-item" id="liOpenTech" style="display:none">
                    <a href="#knockoutOpenTech" class="nav-link" data-bs-toggle="tab">
                        <i class="fal fa-link"></i><span class="hidden-mobile hidden-tablet">OpenTech</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content border border-top-0 p-3">
                <div class="tab-pane fade active show" id="knockoutCadastroGrupoProduto" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-8" data-bind="visible: Descricao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Descricao.text, attr: { for: Descricao.id }"></label>
                                    <input type="text" class="form-control" data-bind="css: Descricao.requiredClass,value: Descricao.val, valueUpdate: 'afterkeydown', attr: { maxlength: Descricao.maxlength, id : Descricao.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : CodigoGrupoProdutoEmbarcador.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: CodigoGrupoProdutoEmbarcador.text"></label>
                                    <input type="text" class="form-control" data-bind="value: CodigoGrupoProdutoEmbarcador.val, attr: { maxlength: CodigoGrupoProdutoEmbarcador.maxlength, id : CodigoGrupoProdutoEmbarcador.id} , valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4" data-bind="visible : Ativo.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: Ativo.text"></label>
                                    <select class="form-control" data-bind="options: Ativo.options, optionsText: 'text', optionsValue: 'value', value: Ativo.val, attr: { id : Ativo.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: QuantidadePorCaixa.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: QuantidadePorCaixa.text"></label>
                                    <input type="text" class="form-control" data-bind="value: QuantidadePorCaixa.val, valueUpdate: 'afterkeydown', enable: QuantidadePorCaixa.enable, attr: { maxlength: QuantidadePorCaixa.maxlength, id : QuantidadePorCaixa.id}" />
                                </div>
                            </div>
                            <div class="col-12 col-md-2" data-bind="visible: PorcentagemCorrecao.visible">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: PorcentagemCorrecao.text"></label>
                                    <input type="text" class="form-control" data-bind="value: PorcentagemCorrecao.val, valueUpdate: 'afterkeydown', enable: PorcentagemCorrecao.enable, attr: { maxlength: PorcentagemCorrecao.maxlength, id : PorcentagemCorrecao.id}" />
                                </div>
                            </div>
                            <div class="row w-100" style="gap: 0px 40px">
                                <div class="col-auto" data-bind="visible: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.val, attr: { maxlength: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.maxlength, name: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.id, id: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.id }">
                                            <label class="custom-control-label" data-bind="text: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.text, attr: { for: ListarProdutosDesteGrupoNoRelatorioDeSinteseDeMateriaisDoPatio.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto" data-bind="visible: RetornarNoChecklist.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: RetornarNoChecklist.val, attr: { maxlength: RetornarNoChecklist.maxlength, name: RetornarNoChecklist.id, id: RetornarNoChecklist.id }">
                                            <label class="custom-control-label" data-bind="text: RetornarNoChecklist.text, attr: { for: RetornarNoChecklist.id }"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto" data-bind="visible: NaoPermitirCarregamento.visible">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-bind="checked: NaoPermitirCarregamento.val, attr: { maxlength: NaoPermitirCarregamento.maxlength, name: NaoPermitirCarregamento.id, id: NaoPermitirCarregamento.id }">
                                            <label class="custom-control-label" data-bind="text: NaoPermitirCarregamento.text, attr: { for: NaoPermitirCarregamento.id }"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="knockoutGrupoProdutoTipoCarga" role="tabpanel">
                    <div id="reorderSelector" class="insideNoPaddignTable"></div>
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: TipoCarga.text"></label>
                                    <div class="input-group">
                                        <input type="text" data-bind="value: TipoCarga.val, valueUpdate: 'afterkeydown', attr: { maxlength: TipoCarga.maxlength, id : TipoCarga.id}, class: TipoCarga.requiredClass" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary waves-effect waves-themed is-invalid" type="button" data-bind="attr: { id: TipoCarga.idBtnSearch}">
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <button class="btn btn-primary waves-effect waves-themed btn-primary" data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { value: Adicionar.text, id : Adicionar.id}" type="button">
                                    <i class="fal fa-plus"></i><span data-bind="text: Adicionar.text"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="knockoutOpenTech" role="tabpanel">
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProdutoValorMaiorOpenTech.text"></label>
                                    <select class="form-control" data-bind="options: ProdutoValorMaiorOpenTech.options, optionsText: 'text', optionsValue: 'value', value: ProdutoValorMaiorOpenTech.val, attr: { id : ProdutoValorMaiorOpenTech.id}"></select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label" data-bind="text: ProdutoValorMenorOpenTech.text"></label>
                                    <select class="form-control" data-bind="options: ProdutoValorMenorOpenTech.options, optionsText: 'text', optionsValue: 'value', value: ProdutoValorMenorOpenTech.val, attr: { id : ProdutoValorMenorOpenTech.id}"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <footer id="knockoutCRUDGrupoProduto">
        <div class="row my-3 mx-3   ">
            <div class="col-6">
                <button type="button" class="btn btn-labeled btn-default" data-bind="click: Cancelar.eventClick, visible: Cancelar.visible, attr: { id : Cancelar.id}">
                    <i class="fal fa-ban"></i>
                    <span data-bind="text: Cancelar.text"></span>
                </button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-labeled btn-danger mx-3" data-bind="click: Excluir.eventClick, visible: Excluir.visible, attr: { id : Excluir.id}">
                    <i class="fal fa-trash"></i>
                    <span data-bind="text: Excluir.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success" data-bind="click: Atualizar.eventClick, visible: Atualizar.visible, attr: { id : Atualizar.id}">
                    <i class="fal fa-check"></i>
                    <span data-bind="text: Atualizar.text"></span>
                </button>
                <button type="button" class="btn btn-labeled btn-success" data-loading-text="Aguarde..." data-bind="click: Adicionar.eventClick, visible: Adicionar.visible, attr: { id : Adicionar.id}">
                    <span data-bind="text: Adicionar.text"></span>
                </button>
            </div>
        </div>
    </footer>
</div>





   
<script src="~/scripts/grupoProduto"></script>
<script type="text/javascript">

    pageSetUp();

    $(document).ready(function () {
        LoadLocalizationResources(["Produtos.GrupoProduto"]).then(loadGrupoProduto);
    });

</script>

